<div class="body-admin">
  <app-sidebar-admin></app-sidebar-admin>
  <div class="content">
    <!-- Navbar -->
    <app-navbar-admin></app-navbar-admin>
    <!-- End of Navbar -->
    <main>
      <div class="header">
        <div class="left">
          <h1>Tổng quan</h1>
          <ul class="breadcrumbD">
            <li><a href="#"> Thống kê: </a></li>
            <li><a href="#" class="active">Bài đăng / Người dùng</a></li>
          </ul>
        </div>
        <a href="#" class="report">
          <i class="bx bx-cloud-download"></i>
          <span>Download</span>
        </a>
      </div>

      <!-- new row -->
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 mb-4">
          <div class="card border-left-primary shadow">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col">
                  <div class="font-weight-bold text-primary text-uppercase mb-2">
                    <div>TỔNG SỐ BÀI ĐĂNG (THÁNG)</div>
                  </div>
                  <div class="h5 mb-0 mb-0 font-weight-bold">
                    <div>
                      {{totalPost}} <span class="text-success text-sm ml-2">+{{percentPostIncrease}}%</span>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 mb-4">
          <div class="card border-left-success shadow">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="font-weight-bold text-success text-uppercase mb-2">
                    <div>TỔNG SỐ NGƯỜI DÙNG (THÁNG)</div>
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <div>
                      {{totalUser}} <span class="text-success text-sm ml-2">+{{percentUserIncrease}}%</span>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 mb-4">
          <div class="card border-left-info shadow">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="font-weight-bold text-info text-uppercase mb-2">
                    <div>PHẦN TRĂM SẢN PHẨM ĐÃ GỬI ĐƯỢC</div>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                        <div> {{percentPost}} %</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': percentPostString}"
                          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- New user (Monthly) Card Example -->
        <div class="col-xl-3 mb-4">
          <div class="card border-left-danger shadow">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="font-weight-bold text-danger text-uppercase mb-2">
                    <div>SỐ BÀI VIẾT BỊ BÁO CÁO (HÔM NAY)</div>
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <div>
                      100 <span class="text-success text-sm ml-2">+15%</span>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Row -->

      <div class="row">
        <div class="col-lg-7 mb-lg-0">
          <div class="card z-index-2 shadow">
            <div class="card-body">
              <div class="bg-gradient-dark border-radius-lg">
                <div class="chart">
                  <canvas #chartBars class="chart-canvas" height="210"></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0">Hoạt động của người dùng</h6>
              <p class="text-sm ms-2">
                Nhiều hơn tháng trước (<span
                  class="text-success font-weight-bolder">+{{percentUserInteractionIncrease}}%</span>)
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-5 mb-lg-0 img-about">
          <div class="thumb">
            <img src="../assets/images/Destiny.png" alt="" />
          </div>
          <div class="logo">
            <img src="../assets/images/logo-euphoria.png" />
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-12 mb-5">
          <div class="card z-index-2 shadow">
            <div class="card-body p-3">
              <div class="ml-1 mt-2 mb-3">
                <h6>Biểu đồ bài viết và người dùng trong năm</h6>
                <p class="text-sm">
                  <i class="fas fa-arrow-up text-success"></i>
                  <span class="font-weight-bold"> Nhiều hơn (<span
                      class="text-success font-weight-bolder">+100%</span>)</span> trong năm
                  2022
                </p>
              </div>
              <div class="chart">
                <canvas #chartLine class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>