main.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 31, 0.96);
  z-index: 10001;
}

.modal-body {
  padding-top: 0;
}

button.btnClose-detail-post {
  position: absolute;
  right: 5%;
  top: 7%;
  background: #f3f3f3;
  opacity: 0.5;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  width: auto;
}
/*=======================================================*/
.favDialog_detailPost {
  /* position: relative;
    border: none;
     border-radius: 15px;
     width: 55rem;
     max-height: 730px;
     background-color: #F1F5F9;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden !important; */
  position: fixed;
  left: 50%;
  z-index: 100001;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
  /* top: 75px; */
  margin-left: -607.5px;
  max-height: 596.48px;
  width: 1215.35px;
  border-radius: 15px;
}

.container-detai-post {
  height: 700px;
  padding: 2rem;

}

.img-product {
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #15151f;
}

.container-detai-post .post {
  width: 100%;
  height: 100%;
  background-color: #F1F5F9;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 15px;
}

.left-post {
  border-right: 1px solid var(--border-color);
  padding: 0 0.5rem;
}

.post-detail {
  padding-left: 24px;
  padding-top: 24px;
}

.count-action {
  position: absolute;
  right: 5%;
}

/* .simple-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 10px #D6D6D6 !important;
  width: max-content;
  right: 5%;
} */
.simple-dropdown.padded.reaction-item-dropdown {
  display: none;
}

.meta-line-list.reaction-item-list:hover .simple-dropdown.padded.reaction-item-dropdown {
  display: block;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 10px #D6D6D6 !important;
  width: max-content;
  right: 33%;
  top: 22%;
}


/*=====================end modal=======================*/
/*  */
@media (max-width: 1240px) {
  div#favDialog_detailPost {
    /* width: auto;
    margin-left: 0px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .container-detai-post {
    width: 500px !important;
  }

  .count-action {
    display: none;
  }

  .info-post {
    padding: 18px;
  }

  .post-container-update {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    text-align: justify;
  }

  .img-product {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 465px !important;
  }

  .mySlides.fade img {
    /* max-height: 400px; */
    position: absolute !important;
    top: 0 !important;
    transform: none !important;
  }

  .slideshow-container {
    height: 400px !important;
  }

  .cmt-body {
    /* height: 100%; */
    background: #F1F5F9;
  }

  .numbertext {
    bottom: -5% !important;
  }

  .comment__container.opened {
    padding-left: 0 !important;
  }

  .comment__card-footer {
    margin-top: 10px;
  }

  .post-container-update::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  .post {
    display: block !important;
    width: 500px !important;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .post::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  button.btnClose-detail-post {
    right: 28% !important;
  color: white;
  background: none;
  }

  .post-des-update {
    height: 5rem;
  }

  .post-detail {
    padding: 0;
  }

  .left-post {
    border-right: none;
  }

}


/*=============cmt============ */
.div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides:first-child {
  display: block;
}

.btn-slide-show {
  top: 50%;
  left: 50%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 4%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(0,0,0,0.8); */
}

/* Number text (1/3 etc) */
.numbertext {
  color: gray;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  position: relative;
  bottom: 10%;
}

/* cmt */
.comment__container {
  /* display: none; */
  position: relative;
}

.comment__container.opened {
  display: block;
  padding: 26px 28px;
  border-bottom: 1px solid #eaeaf5;
}

.comment__container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 0.5rem;

}

.comment__card {
  padding: 0px 20px;
  /* min-width: 100%; */
}

.full-boxer {
  height: 360px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.full-boxer::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.comment__card p {
  /* margin-bottom: 1rem; */
  line-height: 1.4;
  padding-left: 4.5rem;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.comment__card-footer {
  display: flex;
  font-size: 0.85rem;
  opacity: 0.6;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.reply-form {
  display: none;
}

/* Hiển thị các comment con khi được kích hoạt */
.show-replies,
.replies {
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif
}

.replies.show-replies {
  display: block;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.Profile {
  display: flex;
  align-items: center;
}

.profile-image {
  /* width: 40px;
    height: 40px; */
  /* overflow: hidden; */
  /* border-radius: 50%; */
  margin-right: 10px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif
}

.Name strong {
  color: black;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif
}

.Name span {
  color: gray;
  margin-top: 2px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif
}

@media (max-width : 550px) {
  #favDialog_comment {
    margin: 1rem;
  }

  .full-boxer {
    height: 380px;
  }
  button.btnClose-detail-post {
    right: 36% !important;
  color: white;
  background: none;
  }
}

/* input cmt */
.comment-box {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eaeaf5;
  padding: 12px;
}

#comment-input {
  width: 100%;
  height: 40px;
  background: #F1F5F9;
  /* border: none; */
  border: 1px solid #dedeea;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  line-height: 40px;
  z-index: 2;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#comment-input::placeholder {
  color: #bbb;
}

#comment-input:focus {
  outline: 1px solid #2f2f2f;
  outline: none;
}

.add-comment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background: #F1F5F9;
  font-size: 20px;
}

.mySlides.fade {
  max-height: 400px;
}

.mySlides.fade img {
  max-height: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 900px) {
  .mySlides.fade img {
    position: relative;
    top: 50%;
    transform: none
  }
}

/* avatar */
.hexagon-container {
  width: 45px;
  height: 48px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  background: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon {
  position: absolute;
}

.user-avatar-content {
  width: 40px;
  height: 44px;
  overflow: hidden;
  position: absolute;
}

.hexagon-image {
  width: 30px;
  height: 33px;
  position: relative;
  z-index: 3;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  left: 3%;
  top: 2%;
}

.user-avatar-border:before {
  width: 42px;
  height: 46px;
  z-index: 1;
  content: "";
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* border-radius: 15px; */
  left: 1px;
  top: 0px;
  background-image: linear-gradient(to right, #41efff, #615dfa);
}

.hexagon.user-avatar-progress-border {
  position: absolute;
  z-index: 2;
  margin-left: 9.6%;
  margin-top: 8.3%;
  width: 35px;
  height: 39px;
  background: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.user-status {
  display: flex;
}

.info {
  margin-left: 1rem;
}

a.bold {
  color: #3e3f5e;
  font-weight: 700;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
}

p.user-status-text.small.post-time {
  font-size: 0.75rem;
  line-height: 2;
  margin-top: 4px;
  color: #3e3f5e;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-post p {
  margin-top: 10px;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 1.3;
}

/* button.btnClose-detail-post {
  width: auto;
  position: absolute;
  right: 3%;
  top: 1%;
} */

.info-post {
  border-bottom: 1px solid;
}