<main class="overlay" *ngIf="profileService.isOpenChangePass$ | async">
  <div id="favDialog_changePass" class="modal fade favDialog_changePass">
    <div
      (click)="profileService.closeModalChangePass()"
      class="btnClose-change-pass"
    >
      <i class="fa-solid fa-xmark"></i>
    </div>
    <!-- <div class="modal-body"> -->
    <section class="vh-lg-100 d-flex align-items-center">
      <div class="container">
        <!-- <div
          class="row justify-content-center form-bg-image"
          data-background="https://appsrv1-147a1.kxcdn.com/volt-dashboard/img/illustrations/signin.svg"
        > -->
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div
            class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500 main-change-pass"
          >
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h1 class="mb-0 h3">
                <a
                  target="_blank"
                  href="https://themesberg.com/product/django/volt-admin-dashboard-template"
                  >Đổi mật khẩu</a
                >
              </h1>
              <br />
              <p class="content-request">
                Để tăng cường tính bảo mật cho tài khoản của bạn, vui lòng hãy
                nhập mật khẩu hiện tại để xác minh thông tin.
              </p>
            </div>

            <form
              [formGroup]="changePasswordForm"
              (ngSubmit)="updatePass()"
              action=""
              novalidate
              class="mt-4"
            >
              <!-- Form -->
              <div class="form-row">
                <div class="form-input change-pass">
                  <!-- FORM ITEM -->
                  <div class="form-item">
                    <!-- FORM INPUT -->
                    <label class="label-change-pass"
                      >Nhập mật khẩu hiện tại</label
                    >
                    <input
                      type="text"
                      formControlName="oldPassword"
                      id="oldPassword"
                      required
                    />
                    <span class="form-item-icon-eye hide-show-pass">
                      <i
                        (click)="showHidePassword('oldPassword', 'eye1')"
                        class="fa-regular fa-eye"
                        id="eye1"
                      ></i>
                    </span>
                  </div>
                  <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <span
                  *ngIf="
                    changePasswordForm.get('oldPassword')?.invalid &&
                    changePasswordForm.get('oldPassword')?.touched
                  "
                >
                  <div style="color: red">Vui lòng nhập mật khẩu!</div>
                </span>
              </div>
              <!-- End of Form -->

              <div class="form-row">
                <div class="form-input change-pass">
                  <!-- FORM ITEM -->
                  <div class="form-item">
                    <!-- FORM INPUT -->
                    <label class="label-change-pass">Nhập mật khẩu mới</label>
                    <input
                      type="text"
                      formControlName="newPassword"
                      id="newPassword"
                      required
                    />
                    <span class="form-item-icon-eye hide-show-pass">
                      <i
                        (click)="showHidePassword('newPassword', 'eye2')"
                        class="fa-regular fa-eye"
                        id="eye2"
                      ></i>
                    </span>
                  </div>
                  <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <span
                  *ngIf="
                    changePasswordForm.get('newPassword')?.invalid &&
                    changePasswordForm.get('newPassword')?.touched
                  "
                >
                  <div
                    *ngIf="changePasswordForm.get('newPassword')?.errors"
                    style="color: red"
                  >
                    <div
                      *ngIf="
                        changePasswordForm
                          .get('newPassword')
                          ?.hasError('required')
                      "
                      style="color: red"
                    >
                      Vui lòng nhập mật khẩu
                    </div>
                    <div
                      *ngIf="
                        changePasswordForm
                          .get('newPassword')
                          ?.hasError('pattern')
                      "
                      style="color: red"
                    >
                      Mật khẩu có độ dài từ 4-20 ký tự và có ít nhất một ký tự
                      đặc biệt: !&#64;#\$%^&\*
                    </div>
                  </div>
                </span>
              </div>
              <!-- End of Form -->

              <div class="form-row">
                <div class="form-input change-pass">
                  <!-- FORM ITEM -->
                  <div class="form-item">
                    <!-- FORM INPUT -->
                    <label class="label-change-pass"
                      >Xác nhận mật khẩu mới</label
                    >
                    <input
                      type="text"
                      formControlName="renewPassword"
                      id="renewPassword"
                      required
                    />
                    <span class="form-item-icon-eye hide-show-pass">
                      <i
                        (click)="showHidePassword('renewPassword', 'eye3')"
                        class="fa-regular fa-eye"
                        id="eye3"
                      ></i>
                    </span>
                  </div>
                  <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <span
                  *ngIf="
                    changePasswordForm.get('renewPassword')?.invalid &&
                    changePasswordForm.get('renewPassword')?.touched
                  "
                >
                  <div style="color: red">Vui lòng nhập xác nhận mật khẩu!</div>
                </span>
              </div>
              <button type="submit" class="btn btn-block btn-primary">
                Xác nhận
              </button>
            </form>
            <p class="forgot-pass">
              Bạn quên mật khẩu? <a href="">Quên mật khẩu</a>
            </p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>
  </div>

  <!-- </div> -->
</main>
