.section-header-info
  .section-title{
  margin-top: 20px;
  font-size: 1.625rem;
  font-weight: 700;
}
.button.button-icon{
  fill: #fff;
  margin-top: 14px;
  transition: fill 0.2s ease-in-out;
}

.account-hub-content {
  margin-top: 14px;
}

svg.button-icon.no-space.icon-send-message {
  margin-top: 14px;
}
