.section-header-info[_ngcontent-ng-c3016853776]
  .section-title[_ngcontent-ng-c3016853776] {
  margin-top: 20px;
  font-size: 1.625rem;
  font-weight: 700;
}
.button[_ngcontent-ng-c3016853776] .button-icon[_ngcontent-ng-c3016853776] {
  fill: #fff;
  margin-top: 14px;
  transition: fill 0.2s ease-in-out;
}
