main.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 31, 0.96);
    z-index: 10001;
}

.modal-body {
    padding-top: 0;
}

main .modal-create-post {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1F5F9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10002;
    width: max-content;
    height: 700px;
    border-radius: 10px;
}
h2,
h3,
select.w-full.rounded,
label,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.p-7.form-create-info::-webkit-scrollbar {
    width: 0;
    display: none;
}

.p-7.form-create-info {
    height: 500px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.main-form {
    display: flex;
    justify-content: space-around;
}

.col-span-5 {
    margin: 0 1rem;
}

button.btnClose-seemore-img {
    position: absolute;
    right: 20px;
    top: 10px;
    border: none;
    background: #F1F5F9;
    cursor: pointer;
}

i.fa-solid.fa-xmark {
    font-size: 18px;
}

.btn-create-post {
    position: absolute;
    right: 5%;
    bottom: 1.5rem;
}

/* check address */
.address {
    display: flex;
    margin-bottom: 1rem;
}

.cbx {
    position: relative;
    margin-left: 0.5rem;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
}

.cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

#cbx:checked~.cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
}

#cbx:checked~.cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.cntr {
    position: relative;
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

.hidden-xs-up {
    display: none !important;
}


@media screen and (max-width: 1440px) {
    .main-form {
        display: block !important;
        height: 500px;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .main-form::-webkit-scrollbar {
        width: 0;
        display: none;
    }
}

/* @media screen and (max-width: 900px) {
    button.btnClose-seemore-img {
        right: 40px;
    }
} */
@media screen and (max-width: 600px) {
    .favDialog_seemore {
         width: 22rem !important;
     } 
     .post-container-img {
        max-height: 430px !important;
        height: 325px !important;
    }
    .mySlides.fade {
        max-height: 294px !important;
        max-width: 290px !important;
    }
    .mySlides.fade img {
        max-height: 294px !important;
        max-width: 290px !important;
    }
    .prev-img,
    .next-img {
        margin-top: -15%;

    }
    .prev-img {
        margin-left: 2rem;
    }
    .slideshow-container {
        max-height: 290px !important;
    }
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    /* margin: auto; */
    height: 100%;
    max-height: 496px;
}

.mySlides.fade {
    max-height: 583px;
    max-width: 560px;
}

.mySlides.fade img {
    max-height: 496px;
    max-width: 496px;
    width: 496px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

.btn-slide-shows {
    position: absolute;
    top: 50%;
    width: -webkit-fill-available;
}

/* Next & previous buttons */
.prev-img,
.next-img {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next-img {
    right: 4%;
    border-radius: 3px 0 0 3px;
}
a.prev-img {
    margin-left: 0.5rem;
}
.btn-slide-img {
    position: relative;
    z-index: 100;
}
/*  */
.favDialog_seemore {
    position: relative;
    border: none;
     border-radius: 15px;
     width: 35rem;
     max-height: 655px;
     background-color: #F1F5F9;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden !important;
 } 
 .post-container-img {
    max-height: 586px;
    height: 530px;
    padding: 2rem;
}

 
 .post-container-img .post {
     width: 100%;
     background-color: #F1F5F9; 
     height: 100%;
 }
 .img-product {
    height: 100%;
}
.numbertext {
    text-align: center;
    margin-top: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 @media (max-width: 905px) {
    .favDialog_updatePost{
      width: auto;
    }
    .post-container-img {
           overflow: auto;
           overflow: -moz-scrollbars-none;
           -ms-overflow-style: none;
           text-align: justify;
       }
   
       
       .post-container-img::-webkit-scrollbar {
           width: 0 !important;
           display: none;
       }
   
       .post {
           display: grid !important;
           grid-template-columns: auto !important;
       }   
       
   }
