<div class="body-admin">

  <app-sidebar-moderator></app-sidebar-moderator>
  <div class="content">
    <div>
      <!-- Navbar -->
      <app-navbar-moderator></app-navbar-moderator>

      <!-- End of Navbar -->
      <app-loading *ngIf="isLoading"></app-loading>
      <main *ngIf="!isLoading">
        <div class="pb-5">
          <label class="d-block">
            <input type="file" style="display: none;" (change)="chooseFileThumb($event)">
            <div class="page-header min-height-300 border-radius-xl mt-1"
              style="background-image: url('{{moderator.thumb}}')" #uploadPreviewThumb>
              <span class="mask bg-gradient-dark opacity-6"></span>
            </div>
          </label>
          <div class="card card-body shadow-blur shadow mx-4 mt-n5"
            style="width: 90%; margin-left: 5% !important; margin-right: 5% !important;">
            <div class="row">
              <div class="col-lg-1 col-md-6 col-sm-3">
                <div class="avatar">
                  <label>
                    <input type="file" style="display: none;" (change)="chooseFile($event)">
                    <img src="{{moderator.avatar}}" alt="" class="border-radius-lg shadow-sm img-fluid"
                      #uploadPreviewAvatar />
                  </label>
                </div>
              </div>
              <div class="col-lg-10 col-md-5 col-sm-8">
                <div class="">
                  <h5 class="mb-0"> {{moderator.fullname}} </h5>
                  <p class="mb-0 font-weight-bold text-sm">{{moderator.authorities}} / Co-Founder</p>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 mt-3 profile-dropdown">
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-pie"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header text-black-50">
                      CÀI ĐẶT CÁ NHÂN:
                    </div>
                    <div role="button" class="dropdown-item" (click)="openProfile()">
                      Chỉnh sửa
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changeEmailModal">Đổi Email</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePassModal">Đổi mật
                      khẩu</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row profile-zindex">
            <div class="col-lg-12 profile-logo-heart">
              <img src="../assets/images/logo-euphoria.png" alt="" />
            </div>
            <div class="col-lg-12 profile-title mt-3">
              <div class="logo" style="height: 0 !important">
                <h2 class="logo-name"><span>DES</span>TINY</h2>
              </div>
            </div>
            <div class="row col-lg-12 mt-1 pr-0">
              <div class="col-lg-5 mt-2 mb-3 pr-0">
                <div class="card h-100 shadow pb-2">
                  <div class="card-body p-2">
                    <div class="row pb-3 p-3">
                      <div class="col-md-8 d-flex align-items-center text-pink">
                        <h5 class="mb-0 font-weight-bold">Thông tin cá nhân</h5>
                      </div>
                      <div class="col-md-4 text-right">
                        <i class="fas fa-user-edit text-pink text-md" (click)="openProfile()" role="button"></i>
                      </div>
                    </div>
                    <div class="text-sm pl-4 pr-4">
                      <p>
                        {{moderator.intro}}
                      </p>
                    </div>
                    <ul class="list-group pl-2 pr-1">
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink"> Họ và tên: </strong>
                        &nbsp; {{moderator.fullname}}
                      </li>
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink">Giới tính:</strong> &nbsp; {{moderator.gender_name}}
                      </li>
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink">Ngày sinh:</strong> &nbsp; {{moderator.birthdayFormat}}
                      </li>
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink">Email:</strong> &nbsp; {{moderator.email}}
                      </li>
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink">Xã <span class="text-pie">/</span> Phường <span
                            class="text-pie">/</span> Thị trấn:</strong> &nbsp; {{moderator.ward_name}},
                      </li>
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink">Quận <span class="text-pie">/</span> Huyện:</strong> &nbsp;
                        {{moderator.district_name}},
                      </li>
                      <li class="list-group-item border-0 text-sm">
                        <strong class="text-pink">Thành phố <span class="text-pie">/</span> Tỉnh:</strong> &nbsp;
                        {{moderator.province_name}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 mt-2 hidden form-profile pr-0" id="tab-profile">
                <form class="form row col-lg-12 text-pie" [formGroup]="profileForm" (ngSubmit)="updateProfile()"
                  ngNativeValidate>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="username">Tên đăng nhập</label>
                    <div class="mb-3">
                      <input type="text" class="form-controlP" formControlName="usernameF"
                        [ngModel]="moderator.username" id="usernameF" required />
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="fullname">Họ và tên</label>
                    <div class="mb-3">
                      <input type="text" class="form-controlP" formControlName="fullnameF"
                        [ngModel]="moderator.fullname" id="fullnameF" name="fullnameF" required />
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="email">Email</label>
                    <div class="mb-3">
                      <input type="email" class="form-controlP" formControlName="emailF" [ngModel]="moderator.email"
                        id="emailF" readonly />
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="birthday">Ngày sinh</label>
                    <div class="mb-3">
                      <input type="date" class="form-controlP" formControlName="birthdayF"
                        [ngModel]="moderator.birthday" id="birthday" (change)="onDateChange($event)"
                        (input)="onInput($event)" required />
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="gender">Giới tính</label>
                    <div class="mb-3">
                      <ng-select id="gender" [items]="genders" [clearable]="false" formControlName="gender_nameF"
                        class="form-controlP" [ngModel]="moderator.gender_name" required></ng-select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="province">Thành phố/Tỉnh thành</label>
                    <div class="mb-3">
                      <ng-select id="province" [items]="provinces" [clearable]="false" formControlName="province_nameF"
                        class="form-controlP" [ngModel]="moderator.province_name" required
                        (change)="getProvinceName()"></ng-select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="district">Quận/Huyện</label>
                    <div class="mb-3">
                      <ng-select id="district" [items]="districts" [clearable]="false" formControlName="district_nameF"
                        class="form-controlP" [ngModel]="moderator.district_name" required
                        (change)="getDistrictName()"></ng-select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 pr-0">
                    <label for="ward">Xã/Phường</label>
                    <div class="mb-3">
                      <ng-select id="ward" [items]="wards" [clearable]="false" formControlName="ward_nameF"
                        class="form-controlP" [ngModel]="moderator.ward_name" required></ng-select>
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 pr-0">
                    <label for="intro">Giới thiệu</label>
                    <div class="mb-3">
                      <textarea id="intro" class="form-controlP" formControlName="introF" [ngModel]="moderator.intro">
                    </textarea>
                    </div>
                  </div>
                  <div class="text-center col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3">
                    <button type="submit" class="btn text-white form-controlP bg-gradient-endless w-100 mt-4 mb-0">
                      Cập nhật
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-lg-7 img-about mt-1 pr-0 mb-3" id="img-thumb-profile">
                <div class="thumb">
                  <img class="shadow" src="../assets/images/Destiny.png" alt="" />
                </div>
              </div>
            </div>
            <!-- forgot dialog -->
            <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="row" style="pointer-events: auto">
                  <div
                    class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-5 offset-sm-1 img-about pr-0 pl-0 ">
                    <div class="thumb img-left-fr">
                      <img class="shadow border-form-forgotpass-right"
                        src="https://odindesignthemes.com/vikinger-theme/wp-content/themes/vikinger/img/login/background.jpg"
                        alt="" />
                      <div class="img-left-fr-child">
                        <div class="col-lg-12 profile-logo-heart">
                          <img src="../assets/images/logo-euphoria.png" alt="" style="width: 40%; margin: 0 30%;" />
                        </div>
                        <div class="col-lg-12 profile-title mt-3">
                          <div class="logo" style="height: 0 !important">
                            <h1 class="logo-name"><span>DES</span>TINY</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xl-5 col-lg-5 col-md-5 col-sm-5 card bg-gradient-dark text-white border-form-forgotpass-left">
                    <button class="close text-white text-right pt-2 pr-1" type="button" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>

                    <h2 class="text-center text-white text-uppercase font-weight-bold" style="margin-top: 70px">
                      Đổi mật khẩu
                    </h2>
                    <!-- Progress bar -->
                    <div class="progressbar">
                      <div class="progressF" id="progress"></div>
                      <div class="progress-step progress-step-active" data-title=""></div>
                      <div class="progress-step" data-title=""></div>
                    </div>
                    <form [formGroup]="passwordForm" ngNativeValidate (ngSubmit)="forgotPasswordCheck()">
                      <div class="form-step form-step-active col-lg-8 offset-lg-2 mb-4">
                        <label for="oldPassword">Mật khẩu cũ</label>
                        <div class="input-group mt-2 mb-5">
                          <input class="form-controlP" type="text" id="oldPassword" formControlName="oldPassword"
                            required />
                        </div>
                        <div class="text-center col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 mt-5">
                          <button type="submit" class="btn btn-next text-white form-controlP bg-gradient-endless"
                            type="submit">Xác nhận
                          </button>
                        </div>
                      </div>
                    </form>
                    <form [formGroup]="newPasswordForm" ngNativeValidate (ngSubmit)="forgotPasswordCheck()">
                      <div class="form-step col-lg-8 offset-lg-2 mb-4">
                        <label for="newpassword">Mật khẩu mới</label>
                        <div class="input-group mt-2 mb-4">
                          <input class="form-controlP" type="text" name="newpassword" id="newpassword"
                            formControlName="newPassword" required (input)="onInputCheckPassWorkValid($event)" />
                        </div>
                        <label for="renewpassword">Xác nhận mật khẩu mới</label>
                        <div class="input-group mt-2 mb-4">
                          <input class="form-controlP" type="text" name="renewpassword" id="renewpassword"
                            formControlName="reNewPassword" (input)="onInput($event)" required />
                        </div>
                        <div class="text-center col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 mt-5">
                          <button type="submit" class="btn btn-next text-white form-controlP bg-gradient-endless">Xác
                            nhận</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- forgot dialog -->
            <!-- email dialog -->
            <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="row" style="pointer-events: auto">
                  <div
                    class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-5 offset-sm-1 img-about pr-0 pl-0 ">
                    <div class="thumb img-left-fr">
                      <img class="shadow border-form-forgotpass-right"
                        src="https://odindesignthemes.com/vikinger-theme/wp-content/themes/vikinger/img/login/background.jpg"
                        alt="" />
                      <div class="img-left-fr-child">
                        <div class="col-lg-12 profile-logo-heart">
                          <img src="../assets/images/logo-euphoria.png" alt="" style="width: 40%; margin: 0 30%;" />
                        </div>
                        <div class="col-lg-12 profile-title mt-3">
                          <div class="logo" style="height: 0 !important">
                            <h1 class="logo-name"><span>DES</span>TINY</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xl-5 col-lg-5 col-md-5 col-sm-5 card bg-gradient-dark text-white border-form-forgotpass-left">
                    <button class="close text-white text-right pt-2 pr-1" type="button" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>

                    <h2 class="text-center text-white text-uppercase font-weight-bold" style="margin-top: 50px">
                      Cập nhật Email
                    </h2>
                    <!-- Progress bar -->
                    <div class="progressbar">
                      <div class="progressF" id="progress"></div>
                      <div class="progress-step progress-step-active" data-title=""></div>
                    </div>

                    <form [formGroup]="changeEmailForm" ngNativeValidate (ngSubmit)="changeEmailCheck()">
                      <div class="form-step-active col-lg-8 offset-lg-2 mb-4">
                        <label for="newEmail">Email mới</label>
                        <div class="input-group mt-2 mb-4">
                          <input class="form-controlP" type="text" name="newEmail" id="newEmail"
                            formControlName="newEmail" required (input)="onInput($event)" />
                        </div>
                        <label for="oldPasswordEmail">Xác nhận mật khẩu</label>
                        <div class="input-group mt-2 mb-4">
                          <input class="form-controlP" type="text" name="oldPasswordEmail" id="oldPasswordEmail"
                            formControlName="oldPasswordEmail" (input)="onInput($event)" required />
                        </div>
                        <div class="text-center col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 mt-5">
                          <button type="submit" class="btn text-white form-controlP bg-gradient-endless">Cập
                            nhật</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- email dialog -->
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
