.form {
  border: none;
  padding: 0px;
  box-shadow: none;
}

svg.icon-magnifying-glass {
  position: relative;
  top: 10%;
}

.hidden {
  display: none;
}

.grid.grid-4-4-4.centered {
  height: 650px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.grid.grid-4-4-4.centered::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.content-grid {
  padding-bottom: 0;
}

p.user-short-description-text {
  width: 328px;
  min-height: 48.6px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}

p.user-short-description-text a {
  text-transform: none;
  font-size: 13px;
}

figure.user-preview-cover.liquid img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.emty-message {
  text-align: center;
  margin-top: 3rem;
  font-size: 17px;
    color: #3e3f5e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Loading */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 50%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* avatar */
.hexagon-container {
  width: 120px;
  height: 132px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  background: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
}

.hexagon {
  position: absolute;
}

.user-avatar-content {
  width: 100px;
  height: 110px;
  overflow: hidden;
  position: absolute;
}

.hexagon-image {
  width: 82px;
  height: 87px;;
  position: relative;
  z-index: 3;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
}

.user-avatar-border:before {
  width: 105px;
  height: 113px;
  z-index: 1;
  content: "";
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
  left: 8px;
  top: 8px;
  background-image: linear-gradient(to right, #41efff, #615dfa);
}

.hexagon.user-avatar-progress-border {
  position: absolute;
  z-index: 2;
  margin-left: 3.5%;
  margin-top: 3.3%;
  width: 92px;
  height: 100px;
  background: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
}
.user-short-description-title a{
  cursor: pointer;
}

/* input search */
/* button.button.primary {
  z-index: 2 !important;
}
input#friends-search {
  position: relative !important;
  z-index: 1 !important;
}
.with-button label {
  position: absolute !important;
  z-index: 2 !important;
} */