<app-navigation></app-navigation>


<!-- CONTENT GRID -->
<div class="content-grid">

  <app-header-profile *ngIf="!isLoading"></app-header-profile>
  <app-loading *ngIf="isLoading"></app-loading>
  <!-- SECTION -->
  <section class="section" id="body-follow">
    <!-- SECTION HEADER -->
    <div class="section-header">
      <!-- SECTION HEADER INFO -->
      <div class="section-header-info">

        <!-- SECTION TITLE -->
        <h2 class="section-title">Theo dõi</h2>
        <!-- /SECTION TITLE -->
      </div>
      <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->
    <!-- <input type="text" id="" [(ngModel)]="searchQuery" (input)="performSearch()"> -->
    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v1">
      <!-- SECTION FILTERS BAR ACTIONS -->
      <div class="section-filters-bar-actions">
        <!-- FORM -->
        <div class="form">
          <!-- FORM INPUT -->
          <div class="form-input small with-button">
            <!-- <label for="friends-search">Tìm kiếm</label> -->
            <input type="text" [ngClass]="{'hidden': activeContent !== 'following'}"
              [(ngModel)]="searchQueries.following" (input)="performSearch('following')" placeholder="{{ 'navbar_search'
              | translate }}">
            <input type="text" [ngClass]="{'hidden': activeContent !== 'follower'}" [(ngModel)]="searchQueries.follower"
              (input)="performSearch('follower')" placeholder="{{ 'navbar_search'
              | translate }}">
            <input type="text" [ngClass]="{'hidden': activeContent !== 'friends'}" [(ngModel)]="searchQueries.friends"
              (input)="performSearch('friends')" placeholder="{{ 'navbar_search'
              | translate }}">

            <!-- BUTTON -->
            <button class="button primary">
              <!-- ICON MAGNIFYING GLASS -->
              <svg class="icon-magnifying-glass">
                <use xlink:href="#svg-magnifying-glass"></use>
              </svg>
              <!-- /ICON MAGNIFYING GLASS -->
            </button>
            <!-- /BUTTON -->
          </div>
          <!-- /FORM INPUT -->

          <!-- FORM SELECT -->
          <div class="form-select">
            <label for="friends-filter-category">{{ "loctheo"
              | translate }}</label>
            <select id="friends-filter-category" name="friends_filter_category" (change)="onChange($event)">
              <option value="following">{{ "dangtheodoi"
                | translate }}</option>
              <option value="follower">{{ "nguoitheodoi"
                | translate }}</option>
              <option value="friends">{{ "banbe"
                | translate }}</option>
            </select>


            <!-- FORM SELECT ICON -->
            <svg class="form-select-icon icon-small-arrow">
              <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /FORM SELECT ICON -->
          </div>
          <!-- /FORM SELECT -->
        </div>
        <!-- /FORM -->

        <!-- FILTER TABS -->
        <div class="filter-tabs">
          <!-- FILTER TAB -->
          <div class="filter-tab active" (click)="openTabFollow('following')"
            [ngClass]="{'active': activeContent === 'following'}">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">{{ "dangtheodoi"
              | translate }}</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->

          <!-- FILTER TAB -->
          <div class="filter-tab" (click)="openTabFollow('follower')"
            [ngClass]="{'active': activeContent === 'follower'}">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">{{ "nguoitheodoi"
              | translate }}</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->

          <!-- FILTER TAB -->
          <div class="filter-tab" (click)="openTabFollow('friends')"
            [ngClass]="{'active': activeContent === 'friends'}">
            <!-- FILTER TAB TEXT -->
            <p class="filter-tab-text">{{ "banbe"
              | translate }}</p>
            <!-- /FILTER TAB TEXT -->
          </div>
          <!-- /FILTER TAB -->
        </div>
        <!-- /FILTER TABS -->
      </div>
      <!-- /SECTION FILTERS BAR ACTIONS -->
    </div>
    <!-- /SECTION FILTERS BAR -->

    <div>
      <!-- GRID -->
      <div [ngClass]="{'hidden': activeContent !== 'following'}">
        <div *ngIf="checkData1" class="emty-message">{{ "khibantheodoimoinguoi"
          | translate }}</div>
        <div class="grid grid-4-4-4 centered following">
          <div *ngIf="searchPerformed && !checkFind[activeContent!]" class="emty-message">{{ "khongtimthaynguoi"
            | translate }}
            {{searchQueries[activeContent!]}} {{ "trongdanhsach"
            | translate }}</div>

          <!-- USER PREVIEW -->
          <div class="user-preview" *ngFor="let fling of (isSearching ? searchResults : listFollowing)">
            <!-- USER PREVIEW COVER -->
            <figure class="user-preview-cover liquid" *ngIf="fling.thumb !== 'null'">
              <img src="{{fling.thumb}}">
            </figure>
            <figure class="user-preview-cover liquid" *ngIf="fling.thumb === 'null'">
              <img src="https://firebasestorage.googleapis.com/v0/b/destiny-davisy.appspot.com/o/08.jpg?alt=media&token=1027fbbb-43ee-4046-8e13-5640153356ea&_gl=1*17e3a7c*_ga*MTcxMDU3NTczOS4xNjc2OTc2NjE1*_ga_CW55HF8NVT*MTY5NjUwMzgxNi44LjEuMTY5NjUwNTg5Ny42MC4wLjA" alt="">
            </figure>
            <!-- /USER PREVIEW COVER -->
            <!-- USER PREVIEW INFO -->
            <div class="user-preview-info">
              <!-- USER SHORT DESCRIPTION -->
              <div class="user-short-description">
                <!-- USER SHORT DESCRIPTION AVATAR -->
                <a class="user-short-description-avatar user-avatar medium" href="profile?id={{fling.user_id}}"> 
                  <div class="hexagon-container">
                    <div class="hexagon user-avatar-content">
                      <div class="hexagon-image" style="background-image: url('{{fling.avatar}}')"></div>
                    </div>
                    <div class="hexagon user-avatar-border">
                      <div class="hexagon-border"></div>
                    </div>
                    <div class="hexagon user-avatar-progress-border">
                      <div class="user-avatar-progress"></div>
                    </div>
                  </div>
                </a>
                <!-- /USER SHORT DESCRIPTION AVATAR -->

                <!-- USER SHORT DESCRIPTION TITLE -->
                <p class="user-short-description-title"><a href="profile?id={{fling.user_id}}">{{fling.fullname}}</a></p>
                <!-- /USER SHORT DESCRIPTION TITLE -->

                <!-- USER SHORT DESCRIPTION TEXT -->
                <p class="user-short-description-text" *ngIf="fling.intro !== 'null'"><a>{{fling.intro}}</a></p>
                <!-- /USER SHORT DESCRIPTION TEXT -->
              </div>
              <!-- /USER SHORT DESCRIPTION -->

              <!-- USER PREVIEW STATS SLIDES -->
              <div id="user-preview-stats-slides-01" class="user-preview-stats-slides">
                <!-- USER PREVIEW STATS SLIDE -->
                <div class="user-preview-stats-slide">
                  <!-- USER STATS -->
                  <div class="user-stats">
                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{fling.countPost}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "newsfeed_BaiDang"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{fling.countFollower}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "sidebar_follow"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{fling.countImg}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "image"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                  </div>
                  <!-- /USER STATS -->
                </div>
                <!-- /USER PREVIEW STATS SLIDE -->
              </div>
              <!-- /USER PREVIEW STATS SLIDES -->

              <!-- USER PREVIEW ACTIONS -->
              <div class="user-preview-actions">
                <!-- BUTTON -->
                <p class="button secondary" id="deleteFriend-{{fling.user_id}}" (click)="deleteFling(fling.user_id)">{{ "cancel"
                  | translate }}</p>
                <!-- /BUTTON -->

                <!-- BUTTON -->
                <p class="button primary" (click)="messageService.createChatWithStrangers(fling.user_id)">{{ "Nhantin"
                  | translate }}</p>
                <!-- /BUTTON -->
              </div>
              <!-- /USER PREVIEW ACTIONS -->
            </div>
            <!-- /USER PREVIEW INFO -->
          </div>
          <!-- /USER PREVIEW -->
        </div>
      </div>
      <!-- /GRID -->

      <!-- GRID -->
      <div [ngClass]="{'hidden': activeContent !== 'follower'}">
        <div *ngIf="checkData2" class="emty-message">{{ "khimoinguoitheodoiban"
          | translate }}</div>
        <div class="grid grid-4-4-4 centered follower">
          <div *ngIf="searchPerformed && !checkFind[activeContent!]" class="emty-message">{{ "khongtimthaynguoi"
            | translate }}
            {{searchQueries[activeContent!]}} {{ "trongdanhsach"
            | translate }}</div>
          <!-- USER PREVIEW -->
          <div class="user-preview" *ngFor="let fler of (isSearching ? searchResults : listFollower)">
            <!-- USER PREVIEW COVER -->
            <figure class="user-preview-cover liquid" *ngIf="fler.thumb !== 'null'">
              <img src="{{fler.thumb}}" alt="cover-04">
            </figure>
            <figure class="user-preview-cover liquid" *ngIf="fler.thumb === 'null'">
              <img src="https://firebasestorage.googleapis.com/v0/b/destiny-davisy.appspot.com/o/08.jpg?alt=media&token=1027fbbb-43ee-4046-8e13-5640153356ea&_gl=1*17e3a7c*_ga*MTcxMDU3NTczOS4xNjc2OTc2NjE1*_ga_CW55HF8NVT*MTY5NjUwMzgxNi44LjEuMTY5NjUwNTg5Ny42MC4wLjA" alt="">
            </figure>
            <!-- /USER PREVIEW COVER -->

            <!-- USER PREVIEW INFO -->
            <div class="user-preview-info">
              <!-- USER SHORT DESCRIPTION -->
              <div class="user-short-description">
                <!-- USER SHORT DESCRIPTION AVATAR -->
                <a class="user-short-description-avatar user-avatar medium" href="profile?id={{fler.user_id}}">
                  <div class="hexagon-container">
                    <div class="hexagon user-avatar-content">
                      <div class="hexagon-image" style="background-image: url('{{fler.avatar}}')"></div>
                    </div>
                    <div class="hexagon user-avatar-border">
                      <div class="hexagon-border"></div>
                    </div>
                    <div class="hexagon user-avatar-progress-border">
                      <div class="user-avatar-progress"></div>
                    </div>
                  </div>
                </a>
                <!-- /USER SHORT DESCRIPTION AVATAR -->

                <!-- USER SHORT DESCRIPTION TITLE -->
                <p class="user-short-description-title"><a href="profile?id={{fler.user_id}}">{{fler.fullname}}</a></p>
                <!-- /USER SHORT DESCRIPTION TITLE -->

                <!-- USER SHORT DESCRIPTION TEXT -->
                <p class="user-short-description-text" *ngIf="fler.intro !== 'null'"><a>{{fler.intro}}</a></p>
                <!-- /USER SHORT DESCRIPTION TEXT -->
              </div>
              <!-- /USER SHORT DESCRIPTION -->

              <!-- USER PREVIEW STATS SLIDES -->
              <div id="user-preview-stats-slides-01" class="user-preview-stats-slides">
                <!-- USER PREVIEW STATS SLIDE -->
                <div class="user-preview-stats-slide">
                  <!-- USER STATS -->
                  <div class="user-stats">
                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{fler.countPost}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "newsfeed_BaiDang"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{fler.countFollower}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "sidebar_follow"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{fler.countImg}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "image"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                  </div>
                  <!-- /USER STATS -->
                </div>
                <!-- /USER PREVIEW STATS SLIDE -->
              </div>
              <!-- /USER PREVIEW STATS SLIDES -->

              <!-- USER PREVIEW ACTIONS -->
              <div class="user-preview-actions">
                <!-- BUTTON -->
                <p class="button secondary" id="deleteFler-{{fler.user_id}}" (click)="deleteFler(fler.user_id)">{{ "xoa"
                  | translate }}</p>
                <!-- /BUTTON -->

                <!-- BUTTON -->
                <p class="button primary" id="follow-btn-{{fler.user_id}}" (click)="addFollow(fler.user_id)">{{ "theodoilai"
                  | translate }}</p>
                <!-- /BUTTON -->
              </div>
              <!-- /USER PREVIEW ACTIONS -->
            </div>
            <!-- /USER PREVIEW INFO -->
          </div>
          <!-- /USER PREVIEW -->
        </div>
      </div>
      <!-- /GRID -->

      <!-- GRID -->
      <div [ngClass]="{'hidden': activeContent !== 'friends'}">
        <div *ngIf="checkData3" class="emty-message">{{ "theodoinhieunguoi"
          | translate }}</div>
        <div class="grid grid-4-4-4 centered friends">
          <div *ngIf="searchPerformed && !checkFind[activeContent!]" class="emty-message">{{ "khongtimthaynguoi"
            | translate }}
            {{searchQueries[activeContent!]}} {{ "trongdanhsach"
            | translate }}</div>
          <!-- USER PREVIEW -->
          <div class="user-preview" *ngFor="let friend of (isSearching ? searchResults : listFriend)">
            <!-- USER PREVIEW COVER -->
            <figure class="user-preview-cover liquid" *ngIf="friend.thumb !== 'null'">
              <img src="{{friend.thumb}}">
            </figure>
            <figure class="user-preview-cover liquid" *ngIf="friend.thumb === 'null'">
              <img src="https://firebasestorage.googleapis.com/v0/b/destiny-davisy.appspot.com/o/08.jpg?alt=media&token=1027fbbb-43ee-4046-8e13-5640153356ea&_gl=1*17e3a7c*_ga*MTcxMDU3NTczOS4xNjc2OTc2NjE1*_ga_CW55HF8NVT*MTY5NjUwMzgxNi44LjEuMTY5NjUwNTg5Ny42MC4wLjA" alt="">
            </figure>
            <!-- /USER PREVIEW COVER -->

            <!-- USER PREVIEW INFO -->
            <div class="user-preview-info">
              <!-- USER SHORT DESCRIPTION -->
              <div class="user-short-description">
                <!-- USER SHORT DESCRIPTION AVATAR -->
                <a class="user-short-description-avatar user-avatar medium" href="profile?id={{friend.user_id}}">
                  <div class="hexagon-container">
                    <div class="hexagon user-avatar-content">
                      <div class="hexagon-image" style="background-image: url('{{friend.avatar}}')"></div>
                    </div>
                    <div class="hexagon user-avatar-border">
                      <div class="hexagon-border"></div>
                    </div>
                    <div class="hexagon user-avatar-progress-border">
                      <div class="user-avatar-progress"></div>
                    </div>
                  </div>
                </a>
                <!-- /USER SHORT DESCRIPTION AVATAR -->

                <!-- USER SHORT DESCRIPTION TITLE -->
                <p class="user-short-description-title"><a href="profile?id={{friend.user_id}}">{{friend.fullname}}</a></p>
                <!-- /USER SHORT DESCRIPTION TITLE -->

                <!-- USER SHORT DESCRIPTION TEXT -->
                <p class="user-short-description-text" *ngIf="friend.intro !== 'null'"><a>{{friend.intro}}</a></p>
                <!-- /USER SHORT DESCRIPTION TEXT -->
              </div>
              <!-- /USER SHORT DESCRIPTION -->

              <!-- USER PREVIEW STATS SLIDES -->
              <div id="user-preview-stats-slides-01" class="user-preview-stats-slides">
                <!-- USER PREVIEW STATS SLIDE -->
                <div class="user-preview-stats-slide">
                  <!-- USER STATS -->
                  <div class="user-stats">
                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{friend.countPost}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "newsfeed_BaiDang"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{friend.countFollower}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "sidebar_follow"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->

                    <!-- USER STAT -->
                    <div class="user-stat">
                      <!-- USER STAT TITLE -->
                      <p class="user-stat-title">{{friend.countImg}}</p>
                      <!-- /USER STAT TITLE -->

                      <!-- USER STAT TEXT -->
                      <p class="user-stat-text">{{ "image"
                        | translate }}</p>
                      <!-- /USER STAT TEXT -->
                    </div>
                    <!-- /USER STAT -->
                  </div>
                  <!-- /USER STATS -->
                </div>
                <!-- /USER PREVIEW STATS SLIDE -->
              </div>
              <!-- /USER PREVIEW STATS SLIDES -->

              <!-- USER PREVIEW ACTIONS -->
              <div class="user-preview-actions">
                <!-- BUTTON -->
                <p class="button secondary" id="deleteFriend-{{friend.user_id}}" (click)="deleteFling(friend.user_id)">{{ "cancel"
                  | translate }}</p>
                <!-- /BUTTON -->

                <!-- BUTTON -->
                <p class="button primary" (click)="messageService.createChatWithStrangers(friend.user_id)">{{ "Nhantin"
                  | translate }}</p>
                <!-- /BUTTON -->
              </div>
              <!-- /USER PREVIEW ACTIONS -->
            </div>
            <!-- /USER PREVIEW INFO -->
          </div>
          <!-- /USER PREVIEW -->
        </div>
      </div>

      <!-- /GRID -->
    </div>


  </section>
  <!-- /SECTION -->
</div>
<!-- /CONTENT GRID -->