<main class="overlay" *ngIf="modalService.isOpenSeeMoreImg$ | async">
  <div id="favDialog_seemore" class="modal fade favDialog_seemore">
    <button (click)="closeModalSeeMoreImg()" class="btnClose-seemore-img">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="post-container-img">
      <div class="post">
        <!-- Slideshow container -->
        <div class="img-product">
          <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade" *ngFor="let img of modalService.imagesSeeMore">
              <img [src]="img" style="width: 100%" />
            </div>

            <!-- <div class="mySlides fade">
              <img src="../assets/images/posts/pant.png" style="width: 100%" />
            </div>

            <div class="mySlides fade">
              <img src="../assets/images/posts/shirt.png" style="width: 100%" />
            </div>
            <div class="mySlides fade">
              <img src="../assets/images/posts/chair.png" style="width: 100%" />
            </div> -->

            <!-- Next and previous buttons -->
            <div class="btn-slide-shows">
              <a class="prev-img" (click)="plusSlides(-1)">&#10094;</a>
              <a class="next-img" (click)="plusSlides(1)">&#10095;</a>
            </div>
          </div>

          <div class="numbertext">
            <span id="numbertext">1 </span>/ <b>{{ slidesLength }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
