/*=======================================================*/
.favDialog_updatePost {
    border: none;
     border-radius: 15px;
     width: 55rem;
     max-height: 655px;
     background-color: #F1F5F9;
     margin: 2.4rem 19rem;
     overflow: hidden !important;
 } 
 
 .favDialog_updatePost a#close2,
 .favDialog_updatePost button#updatePosst {
     border: none;
     background-color: #F1F5F9; 
     outline: none;
     color: #0DF6E3;
     text-decoration: none;
     width: auto;
 }
 
 .favDialog_updatePost a#close2:active {
     outline: none;
 }
 
 .post-container-update .post {
     width: 100%;
     background-color: #F1F5F9; 
     display: grid;
     grid-template-columns: auto auto;
 }
 .post-container-update .username{
     color: white;
 }
 
 .left-post {
     border-right: 1px solid var(--border-color);
     padding: 0 0.5rem;
 }
 
 .post-detail{
     padding-left: 1rem;
 }
 .post-des-update {
     margin: 0px;
     font-size: .9rem;
     line-height: 1.5rem;
     opacity: 0.7;
     border: none;
     outline: none;
     height: 10rem;
     overflow: auto;
     overflow: -moz-scrollbars-none;
     -ms-overflow-style: none;
     text-align: justify;
     background-color: #F1F5F9; 
     color: white;
 }
 
 .post-des-update::-webkit-scrollbar {
     width: 0 !important;
     display: none;
 }
 
 .info-update {
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px;
 }
 
 .post-img-container-update {
     width: 100%;
     height: 100%;
     display: flex;
     overflow: hidden;
 }
 
 .post-img-container-update img {
     /* min-width: 100%; */
     height: 80%;
     object-fit: cover;
     transition: .5s;
     margin: 1rem 0;
 }
 .post-img-container-update img:hover{
     cursor: pointer;
 }
 /* btn-sendStatus */
 .btn-sendStatus{
     background-color: #F1F5F9; 
     color: white;
     margin-top: -1.5rem;
 }
 .btn-sendStatus button {
   border: none;
   display: flex;
   padding: 0.75rem 1.5rem;
   background-color: #0DF6E3;
    color: black;
   /*  background-color: var(--button-bg);  */
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   vertical-align: middle;
   align-items: center;
   border-radius: 0.5rem;
   user-select: none;
   gap: 0.75rem;
  /*  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17; */
   transition: all .6s ease;
   margin-top: 0.5rem;
   width: auto;	
 }
 
 .btn-sendStatus button:focus,button:active {
   opacity: .100;
   box-shadow: none;
   cursor: no-drop;
 }
 
 .btn-sendStatus button svg {
   width: 1.25rem;
   height: 1.25rem;
 }
 
 /* name product */
 .name-product,
 .hashtag,
 .address{
  --width-of-input: 350px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin-bottom: 1rem;
 }
 
 .input {
  background-color: #F1F5F9; 
     color: white;
  font-size: 1rem;
  /* background-color: transparent; */
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  /* border-bottom: var(--border-height) solid var(--border-before-color); */
 }
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 
 input:focus {
  outline: none;
 }
 
 input:focus ~ .input-border {
  width: 100%;
 }
 /*=====================Modal==================*/
 
 /*Modal*/
 .form-control {
   margin: 1em 0;
 }
 .form-control:hover, .form-control:focus {
   box-shadow: none;  
   border-color: #fff;
 }
 .username, .password {
   border: none;
   border-radius: 0;
   box-shadow: none;
   border-bottom: 2px solid #eee;
   padding-left: 0;
   font-weight: normal;
   background: transparent;  
 }
 .form-control::-webkit-input-placeholder {
   color: #eee;  
 }
 .form-control:focus::-webkit-input-placeholder {
   font-weight: bold;
   color: #fff;
 }
 .login {
   padding: 6px 20px;
   border-radius: 20px;
   background: none;
   border: 2px solid #FAB87F;
   color: #FAB87F;
   font-weight: bold;
   transition: all .5s;
   margin-top: 1em;
 }
 .login:hover {
   background: #FAB87F;
   color: #fff;
 }
 /*=====================end modal=======================*/
 /*  */
 @media (max-width: 500px) {
 
     
     .favDialog_updatePost {
         overflow: auto;
         overflow: -moz-scrollbars-none;
         -ms-overflow-style: none;
         text-align: justify;
     }
 
     
     .favDialog_updatePost::-webkit-scrollbar {
         width: 0 !important;
         display: none;
     }
 
     .post {
         display: grid !important;
         grid-template-columns: auto !important;
     }
 
     
     .post-img-container-update {
         width: 100%;
         height: 100%;
         display: flex;
         overflow: hidden;
     }
 
     
     .post-img-container-update img {
         width: 100%;
         object-fit: cover;
     }
 
     
     .post-des-update {
         height: 5rem;
     }
 
     .post-detail {
         padding: 0;
     }
 
     .left-post {
         border-right: none;
     }
 }
 
 
 /*=============cmt============ */
 .div{
     display: grid; 
      grid-template-columns: 50% 50%; 
     grid-column-gap: 20px;
 }