.menu-item-link-icon {
    font-size: 18px;
  }
  
  li.menu-item.active i.fa-solid {
    color: #fff;
  }
  
  li.menu-item:not(.active) a.menu-item-link.text-tooltip-tfr:hover i.fa-solid {
    color: #23d2e2;
  }
  
  i.fa-solid {
    color: #adafca;
  }
  
  a.menu-main-item-link {
    font-size: 15px !important;
  }
  
  .logo,
  h1.header-brand-text {
    margin-left: 0 !important;
  }
  
  h1.header-brand-text {
    font-size: 25px !important;
  }
  
  .icon-logo-vikinger.small {
    width: 100px;
    height: 75px;
  }
  p.fullname-logged {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 80px;
    cursor: pointer;
  }
  .action-item.dark.header-settings-dropdown-trigger {
    width: 250px;
  }
  .icon-logo-vikinger{
    position: relative;
  }
  /* ========================= */
  a .menu-item-link {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-size: 10px;
  }
  
  a[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    margin-top: 2px;
    margin-left: 42px;
    z-index: 100;
    width: 250px;
    font-size: 15px;
    transform: translate(10px, 0px);
    transition: all 0.3s ease-in-out 0s;
  }

  a[data-title='Nhắn tin']:hover::after {
    margin-top: -45px;
  } 

  .user-avatar.small.no-outline.online.notif-mess:before {
    background: red;
}
.user-avatar.small.no-outline.online.notif-mess {
  width: auto;
  height: 0px;
}

p.button.re-fl, p.delete-fl {
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  margin-right: 0.5rem;
  padding: 0 9px;
  box-shadow: none;
  background: #4E4BCD;
}
p.button.re-fl:hover{
  background: #3d3bbd;
}
p.delete-fl {
  background:#848484
}
.user-preview-actions.nofti {
  margin-top: 0.6rem;
}
  