.titile {
  display: flex;
  justify-content: space-between;
}
div#form{
background-color: rgba(0, 0, 0, 0.7);
}
.modal-dialog.modal-dialog-centered {
max-width: 25rem;
}
.modal-footer.border-top-0.d-flex.justify-content-center {
padding-top: 0;
}
input {
box-shadow: none;
}
/* main.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10001;
}

.modal-body {
  padding-top: 0;
}

button.btnClose-change-email {
  position: absolute;
  right: 13px;
  top: 8px;
  border: none;
  background: #fff;
  width: auto;
}
form.form.change-mail {
  position: absolute;
  right: 0%;
  transform: translate(-80%, -10%);
}
@media (max-width:390px) {
  form.form.change-mail {
      transform: translate(13%, 0%) !important;
      width: clamp(392px, 50%, 530px) !important;
  }
}

@media (max-width:  1286px) {
  form.form.change-mail {
      transform: translate(-170%, -15%) !important;
  }
} */
.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem;
}

.panel {
  border-radius: 4px;
  padding: 1rem;
  margin-top: 0.2rem;
  background-color: #f5f5f5;
  color: #323b40;
}
.panel.panel-blue {
  background-color: #e0f5ff;
  color: #00a5fa;
}
.panel.panel-big-height {
  min-height: 150px;
}

.item {
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
}
.item.item-blue {
  background-color: #b9e5fe;
  color: #00a5fa;
}
.item.item-green {
  background-color: #b7e0dc;
  color: #019888;
}
.item.item-lime {
  background-color: #c7e8c8;
  color: #42b045;
}
.item.item-yellow {
  background-color: #ffeeba;
  color: #ff9901;
}
.item.item-pink {
  background-color: #fabad0;
  color: #ef075f;
}
.item.item-red {
  background-color: #fec9c6;
  color: #fd3d08;
}
.item.item-big-width {
  min-width: 380px;
}



