.section-header-info .section-title {
  margin-top: 25px;
  font-size: 1.625rem;
  font-weight: 700;
}

p.switch-option-text {
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.account-hub-content {
  margin-top: 1.5rem;
}

form.form.ng-untouched.ng-pristine.ng-valid, .form {
  border: none;
  padding: 0px;
  box-shadow: none;
}

svg.x1lliihq.x1k90msu.x2h7rmj.x1qfuztq.xcza8v6.xlup9mm.x1kky2od,
.form-select .form-switch  {
  position: absolute;
  right: 0;
  top: 38%;
}

.form-row.split {
  cursor: pointer;
}

button.btn.btn-primary.copy-link {
  width: auto;
  position: absolute;
  right: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1440px) {
  p.switch-option-text {
    width: 330px;
    -webkit-line-clamp: 5;
  }
}

@media screen and (max-width: 480px) {
  svg.x1lliihq.x1k90msu.x2h7rmj.x1qfuztq.xcza8v6.xlup9mm.x1kky2od {
    top: -93%;
  }
}

/* ==============dark================ */
