<div class="body-admin">

  <app-sidebar-admin></app-sidebar-admin>
  <div class="content">
    <!-- Navbar -->
    <app-navbar-admin></app-navbar-admin>

    <!-- End of Navbar -->

    <main>
      <div class="header">
        <div class="left">
          <h1>Thống kê</h1>
          <ul class="breadcrumbD">
            <li><a href="#"> Thống kê </a></li>
            /
            <li><a href="#" class="active">Người dùng</a></li>
          </ul>
        </div>
        <a href="#" class="report">
          <i class="bx bx-cloud-download"></i>
          <span>Download</span>
        </a>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-2">
          <div class="card card-profile pb-2 shadow">
            <img src="../assets/images/top1user.png" alt="Image placeholder" class="card-img-top" />
            <div class="row justify-content-center">
              <div class="col-6 col-lg-6 order-lg-2">
                <div class="mt-n7 mt-lg-n6 mb-4 mb-lg-0">
                  <a href="user_detail.html">
                    <img src="../assets/images/users/dang.jpg"
                      class="rounded-circle img-fluid border border-2 border-white" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 mt-4">
              <div class="row">
                <div class="col">
                  <div class="d-flex justify-content-center">
                    <div class="d-grid text-center">
                      <span class="text-lg font-weight-bolder text-pink">22</span>
                      <span class="text-sm opacity-8">Bạn bè</span>
                    </div>
                    <div class="d-grid text-center mx-4">
                      <span class="text-lg font-weight-bolder text-pink">30</span>
                      <span class="text-sm opacity-8">Bài đăng</span>
                    </div>
                    <div class="d-grid text-center">
                      <span class="text-lg font-weight-bolder text-pink">89</span>
                      <span class="text-sm opacity-8">Bình luận</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <h5 class="font-weight-bold">
                  Trần Hữu Đang<span class="font-weight-light">, 20 tuổi</span>
                </h5>
                <div class="h6 font-weight-bold">
                  <i class="ni location_pin mr-2"></i>Hậu giang, Việt Nam
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4 shadow pt-3">
            <div class="card-body">
              <div class="row m-2 mb-0 list-user">
                <div class="col-lg-3 col-md-6 mb-xl-0 mb-4">
                  <h2 class="text-center font-weight-bold logo-name text-pink">
                    TOP 2
                  </h2>
                  <div class="card card-blog card-plain mt-4">
                    <div class="position-relative">
                      <a href="user_detail.html" class="d-block user">
                        <img src="../assets/images/users/vi.jpg" alt="img-blur-shadow"
                          class="img-fluid border-radius-lg shadow-img border" />
                      </a>
                    </div>
                    <div class="text-center mt-4 text-pie">
                      <h5 class="font-weight-bold">Lê Bích Vi</h5>
                      <h5 class="font-weight-light">20 tuổi</h5>
                    </div>
                    <div class="row mt-2 mb-4">
                      <div class="col">
                        <div class="d-flex justify-content-center">
                          <div class="d-grid text-center mx-4">
                            <span class="text-lg font-weight-bolder text-pink">28</span>
                            <span class="text-sm opacity-8 text-pie">Bài đăng</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-xl-0 mb-4">
                  <h2 class="text-center font-weight-bold logo-name text-pink">
                    TOP 3
                  </h2>
                  <div class="card card-blog card-plain mt-4">
                    <div class="position-relative">
                      <a href="user_detail.html" class="d-block user">
                        <img src="../assets/images/users/vinh.jpg" alt="img-blur-shadow"
                          class="img-fluid border-radius-lg shadow-img border" />
                      </a>
                    </div>
                    <div class="text-center mt-4 text-pie">
                      <h5 class="font-weight-bold">Quốc Vinh</h5>
                      <h5 class="font-weight-light">20 tuổi</h5>
                    </div>
                    <div class="row mt-2 mb-4">
                      <div class="col">
                        <div class="d-flex justify-content-center">
                          <div class="d-grid text-center mx-4">
                            <span class="text-lg font-weight-bolder text-pink">26</span>
                            <span class="text-sm opacity-8 text-pie">Bài đăng</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-xl-0 mb-4">
                  <h2 class="text-center font-weight-bold logo-name text-pink">
                    TOP 4
                  </h2>
                  <div class="card card-blog card-plain mt-4">
                    <div class="position-relative">
                      <a href="user_detail.html" class="d-block user">
                        <img src="../assets/images/users/sy.jpg" alt="img-blur-shadow"
                          class="img-fluid border-radius-lg shadow-img border" />
                      </a>
                    </div>
                    <div class="text-center mt-4 text-pie">
                      <h5 class="font-weight-bold">Đoàn Hiệp Sỹ</h5>
                      <h5 class="font-weight-light">20 tuổi</h5>
                    </div>
                    <div class="row mt-2 mb-4">
                      <div class="col">
                        <div class="d-flex justify-content-center">
                          <div class="d-grid text-center mx-4">
                            <span class="text-lg font-weight-bolder text-pink">23</span>
                            <span class="text-sm opacity-8 text-pie">Bài đăng</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 pb-5">
        <!-- Area Chart -->
        <div class="col-lg-8">
          <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body pt-1 pb-4">
              <div class="header-chart pt-1">
                <h6 class="ml-2 mt-2 font-weight-bold">Biểu đồ tổng người dùng từng tháng</h6>
                <div class="">
                  <img src="../assets/images/logo-euphoria.png" />
                </div>
              </div>
              <div class="border-radius-lg m-1">
                <div class="chart">
                  <!-- <canvas id="chart-line" class="chart-canvas" height="300"></canvas> -->
                  <canvas #chartline class="chart-canvas" height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card card-profile pb-2 shadow img-about">
            <img src="../assets/images/top1user.png" alt="Image placeholder" class="card-img-top" />
            <div class="card-body pt-0 pb-0 mt-2">
              <div class="text-center">
                <h5 class="logo-namex text-uppercase">
                  <div class="text-d-user"><span>Des</span>tiny</div>
                </h5>
                <div class="text-left">
                  Diễn đàn Destiny là một cộng đồng trực tuyến nơi mọi người có
                  thể tặng và nhận đồ từ nhau một cách miễn phí.
                </div>
              </div>
            </div>
            <div class="logo" style="height: 50px !important">
              <img src="../assets/images/logo-euphoria.png" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>