nav.section-navigation {
  margin-top: 25px;
}

div#section-navigation-slider {
  position: absolute;
  top: 0;
}

/* avatar */
.hexagon-container {
  width: 120px;
  height: 132px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  background: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
  top: 23%;
}

.hexagon {
  position: absolute;
}

.user-avatar-content {
  width: 100px;
  height: 110px;
  overflow: hidden;
  position: absolute;
}

.hexagon-image {
  width: 82px;
  height: 87px;
  position: relative;
  z-index: 3;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
}

.user-avatar-border:before {
  width: 110px;
  height: 113px;
  z-index: 1;
  content: "";
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
  left: 5px;
  top: 7.5px;
  background-image: linear-gradient(to right, #41efff, #615dfa);
}

.hexagon.user-avatar-progress-border {
  position: absolute;
  z-index: 2;
  margin-left: 3.5%;
  margin-top: 3.3%;
  width: 94px;
  height: 100px;
  background: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 15px;
}

.user-avatar.big .user-avatar-progress,
.user-avatar.big .user-avatar-progress-border {
  top: 10.5px;
  left: 9px;
}

.user-avatar.big.user-avatar-content {
  top: 20px !important;
  left: 21px !important;
}

div#section-navigation-slider {
  width: auto;
}

@media screen and (max-width: 480px) {
  p.user-short-description-title {
    margin-top: 2rem;
  }

  div#section-navigation-slider {
    white-space: nowrap;
    overflow: scroll;
  }
}

img,
a.user-short-description-avatar.user-avatar {
  cursor: no-drop;
}

.menu-hide-info {
  float: left;
  width: 122px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

span.section-menu-item-icon.icon-setting-menu {
  position: absolute;
  top: 40%;
  right: 50%;
  color: #adafca !important;
}

.menu-hide-info i.fa-solid.fa-gear {
  font-size: 20px;
  fill: #adafca;
  opacity: 0.3;
  margin-left: -10px;
}

@media screen and (max-width: 480px) {
  .dark .hide-text-mobile {
    display: block !important;
  }
}