<!-- PROFILE HEADER -->

<div>
  <div class="profile-header" *ngIf="checkHeaderEdit || checkWidthMedia">
    <!-- PROFILE HEADER COVER -->
    <figure class="profile-header-cover liquid"
      style="background: url('{{profileService.header?.thumb}}') center center / cover no-repeat;" *ngIf="profileService.header?.thumb !== 'null'">
      <img src="{{ profileService.header?.thumb }}"/>
    </figure>
    <figure class="profile-header-cover liquid"
      style="background: url('https://firebasestorage.googleapis.com/v0/b/destiny-davisy.appspot.com/o/08.jpg?alt=media&token=1027fbbb-43ee-4046-8e13-5640153356ea&_gl=1*17e3a7c*_ga*MTcxMDU3NTczOS4xNjc2OTc2NjE1*_ga_CW55HF8NVT*MTY5NjUwMzgxNi44LjEuMTY5NjUwNTg5Ny42MC4wLjA') center center / cover no-repeat;" *ngIf="profileService.header?.thumb === 'null'">
      <img src="https://firebasestorage.googleapis.com/v0/b/destiny-davisy.appspot.com/o/08.jpg?alt=media&token=1027fbbb-43ee-4046-8e13-5640153356ea&_gl=1*17e3a7c*_ga*MTcxMDU3NTczOS4xNjc2OTc2NjE1*_ga_CW55HF8NVT*MTY5NjUwMzgxNi44LjEuMTY5NjUwNTg5Ny42MC4wLjA"/>
    </figure>
    <!-- /PROFILE HEADER COVER -->

    <!-- PROFILE HEADER INFO -->
    <div class="profile-header-info">
      <!-- USER SHORT DESCRIPTION -->
      <div class="user-short-description big">
        <!-- USER SHORT DESCRIPTION AVATAR -->
        <a class="user-short-description-avatar user-avatar big">
          <div class="hexagon-container">
            <div class="hexagon user-avatar-content">
              <div class="hexagon-image" style="background-image: url('{{profileService.header?.avatar}}')"></div>
            </div>
            <div class="hexagon user-avatar-border">
              <div class="hexagon-border"></div>
            </div>
            <div class="hexagon user-avatar-progress-border">
              <div class="user-avatar-progress"></div>
            </div>
          </div>
        </a>
        <!-- /USER SHORT DESCRIPTION AVATAR -->

        <!-- USER SHORT DESCRIPTION AVATAR -->
        <a class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium">
          <div class="hexagon-container">
            <div class="hexagon user-avatar-content">
              <div class="hexagon-image" style="background-image: url('{{profileService.header?.avatar}}')"></div>
            </div>
            <div class="hexagon user-avatar-border">
              <div class="hexagon-border"></div>
            </div>
            <div class="hexagon user-avatar-progress-border">
              <div class="user-avatar-progress"></div>
            </div>
          </div>
        </a>
        <!-- /USER SHORT DESCRIPTION AVATAR -->

        <!-- USER SHORT DESCRIPTION TITLE -->
        <p class="user-short-description-title">
          <a>{{
            profileService.header?.fullname
            }}</a>
        </p>
        <!-- /USER SHORT DESCRIPTION TITLE -->

        <!-- USER SHORT DESCRIPTION TEXT -->
        <p class="user-short-description-text" style="text-transform: none;">
          <a>&#64;{{ profileService.header?.username }}</a>
        </p>
        <!-- /USER SHORT DESCRIPTION TEXT -->
      </div>
      <!-- /USER SHORT DESCRIPTION -->

      <!-- USER STATS -->
      <div class="user-stats">
        <!-- USER STAT -->
        <div class="user-stat big">
          <!-- USER STAT TITLE -->
          <p class="user-stat-title">
            {{ profileService.header?.countPost }}
          </p>
          <!-- /USER STAT TITLE -->

          <!-- USER STAT TEXT -->
          <p class="user-stat-text">{{ "newsfeed_BaiDang"
            | translate }}</p>
          <!-- /USER STAT TEXT -->
        </div>
        <!-- /USER STAT -->

        <!-- USER STAT -->
        <div class="user-stat big">
          <!-- USER STAT TITLE -->
          <p class="user-stat-title">
            {{ profileService.header?.countFollower }}
          </p>
          <!-- /USER STAT TITLE -->

          <!-- USER STAT TEXT -->
          <p class="user-stat-text">{{ "sidebar_follow"
            | translate }}</p>
          <!-- /USER STAT TEXT -->
        </div>
        <!-- /USER STAT -->

        <!-- USER STAT -->
        <div class="user-stat big">
          <!-- USER STAT TITLE -->
          <p class="user-stat-title">
            {{ profileService.header?.countImg }}
          </p>
          <!-- /USER STAT TITLE -->

          <!-- USER STAT TEXT -->
          <p class="user-stat-text">{{ "image"
            | translate }}</p>
          <!-- /USER STAT TEXT -->
        </div>
        <!-- /USER STAT -->
      </div>
      <!-- /USER STATS -->

      <!-- PROFILE HEADER INFO ACTIONS -->
      <div class="profile-header-info-actions" *ngIf="idLocal != 0 && idLocal !== chatUserId">
        <!-- PROFILE HEADER INFO ACTION -->
        <p class="profile-header-info-action button secondary" id="follow-btn" *ngIf="!profileService.header?.checkFollow"
          (click)="addFollow(profileService.header?.user_id)">
          <span class="hide-text-mobile">{{ "sidebar_follow"
            | translate }} +</span>
        </p>
        <!-- /PROFILE HEADER INFO ACTION -->

        <!-- PROFILE HEADER INFO ACTION -->
        <p class="profile-header-info-action button primary"
          (click)="messageService.createChatWithStrangers(profileService.header?.user_id)">
          <span class="hide-text-mobile">{{ "Nhantin"
            | translate }}</span>
        </p>
        <!-- /PROFILE HEADER INFO ACTION -->
      </div>
      <!-- /PROFILE HEADER INFO ACTIONS -->
    </div>
    <!-- /PROFILE HEADER INFO -->
  </div>
  <!-- /PROFILE HEADER -->

  <!-- SECTION NAVIGATION -->
  <nav class="section-navigation">
    <!-- SECTION MENU -->
    <div id="section-navigation-slider" class="section-menu">
      <!-- <div class="scroll-container"> -->
      <!-- SECTION MENU ITEM -->
      <a [class.section-menu-item]="true" [class.active]="activeMenuItem === 'profile'" routerLink="/profile">
        <!-- SECTION MENU ITEM ICON -->
        <svg class="section-menu-item-icon icon-timeline">
          <use xlink:href="#svg-timeline"></use>
        </svg>
        <!-- /SECTION MENU ITEM ICON -->

        <!-- SECTION MENU ITEM TEXT -->
        <p class="section-menu-item-text">{{ "newsfeed_BaiDang"
          | translate }}</p>
        <!-- /SECTION MENU ITEM TEXT -->
      </a>
      <!-- /SECTION MENU ITEM -->

      <!-- SECTION MENU ITEM -->
      <a [class.section-menu-item]="true" [class.active]="activeMenuItem === 'edit-profile'" routerLink="/edit-profile"
        *ngIf="idLocal === 0 || idLocal === chatUserId">
        <!-- SECTION MENU ITEM ICON -->
        <svg class="section-menu-item-icon icon-profile">
          <use xlink:href="#svg-profile"></use>
        </svg>
        <!-- /SECTION MENU ITEM ICON -->

        <!-- SECTION MENU ITEM TEXT -->
        <p class="section-menu-item-text">{{ "Thongtin"
          | translate }}</p>
        <!-- /SECTION MENU ITEM TEXT -->
      </a>
      <!-- /SECTION MENU ITEM -->

      <!-- SECTION MENU ITEM -->
      <a [class.section-menu-item]="true" [class.active]="activeMenuItem === 'follow'" routerLink="/follow"
        *ngIf="idLocal === 0 || idLocal === chatUserId">
        <!-- SECTION MENU ITEM ICON -->
        <svg class="section-menu-item-icon icon-friend">
          <use xlink:href="#svg-friend"></use>
        </svg>
        <!-- /SECTION MENU ITEM ICON -->

        <!-- SECTION MENU ITEM TEXT -->
        <p class="section-menu-item-text">{{ "sidebar_follow"
          | translate }}</p>
        <!-- /SECTION MENU ITEM TEXT -->
      </a>
      <!-- /SECTION MENU ITEM -->

      <!-- SECTION MENU ITEM -->
      <a [class.section-menu-item]="true" [class.active]="activeMenuItem === 'photos'" routerLink="/photos">
        <!-- SECTION MENU ITEM ICON -->
        <svg class="section-menu-item-icon icon-photos">
          <use xlink:href="#svg-photos"></use>
        </svg>
        <!-- /SECTION MENU ITEM ICON -->

        <!-- SECTION MENU ITEM TEXT -->
        <p class="section-menu-item-text">{{ "image"
          | translate }}</p>
        <!-- /SECTION MENU ITEM TEXT -->
      </a>
      <!-- /SECTION MENU ITEM -->

      <!-- SECTION MENU ITEM -->
      <div class="menu-hide-info" *ngIf="idLocal === 0 || idLocal === chatUserId"
      (click)="profileService.openModalHideInfo()">
        <!-- SECTION MENU ITEM ICON -->
        <!-- <svg >
          <use xlink:href="#svg-photos"></use>
        </svg> -->
        <span class="section-menu-item-icon icon-setting-menu">
          <i class="fa-solid fa-gear"></i>
        </span>
        <!-- /SECTION MENU ITEM ICON -->
      </div>
      <!-- /SECTION MENU ITEM -->
      <!-- </div> -->
    </div>
    <!-- /SECTION MENU -->
  </nav>
  <!-- /SECTION NAVIGATION -->
</div>