<!-- PROFILE HEADER -->

<div>
<div class="profile-header">
  <!-- PROFILE HEADER COVER -->
  <figure
    class="profile-header-cover liquid"
    style="background: url('{{profileService.dataFollows?.thumb}}') center center / cover no-repeat;"
  >
    <img src="{{ profileService.dataFollows?.thumb }}" alt="cover-01" />
  </figure>
  <!-- /PROFILE HEADER COVER -->

  <!-- PROFILE HEADER INFO -->
  <div class="profile-header-info">
    <!-- USER SHORT DESCRIPTION -->
    <div class="user-short-description big">
      <!-- USER SHORT DESCRIPTION AVATAR -->
      <a class="user-short-description-avatar user-avatar big" href="profile">
        <div class="hexagon-container">
          <div class="hexagon user-avatar-content">
            <div
              class="hexagon-image"
              style="background-image: url('{{profileService.dataFollows?.avatar}}')"
            ></div>
          </div>
          <div class="hexagon user-avatar-border">
            <div class="hexagon-border"></div>
          </div>
          <div class="hexagon user-avatar-progress-border">
            <div class="user-avatar-progress"></div>
          </div>
        </div>
      </a>
      <!-- /USER SHORT DESCRIPTION AVATAR -->

      <!-- USER SHORT DESCRIPTION AVATAR -->
      <a
        class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium"
        href="profile"
      >
        <div class="hexagon-container">
          <div class="hexagon user-avatar-content">
            <div
              class="hexagon-image"
              style="background-image: url('{{profileService.dataFollows?.avatar}}')"
            ></div>
          </div>
          <div class="hexagon user-avatar-border">
            <div class="hexagon-border"></div>
          </div>
          <div class="hexagon user-avatar-progress-border">
            <div class="user-avatar-progress"></div>
          </div>
        </div>
      </a>
      <!-- /USER SHORT DESCRIPTION AVATAR -->

      <!-- USER SHORT DESCRIPTION TITLE -->
      <p class="user-short-description-title">
        <a href="profile-timeline">{{
          profileService.dataFollows?.fullname
        }}</a>
      </p>
      <!-- /USER SHORT DESCRIPTION TITLE -->

      <!-- USER SHORT DESCRIPTION TEXT -->
      <p class="user-short-description-text">
        <a>{{ profileService.dataFollows?.username }}</a>
      </p>
      <!-- /USER SHORT DESCRIPTION TEXT -->
    </div>
    <!-- /USER SHORT DESCRIPTION -->

    <!-- USER STATS -->
    <div class="user-stats">
      <!-- USER STAT -->
      <div class="user-stat big">
        <!-- USER STAT TITLE -->
        <p class="user-stat-title">
          {{ profileService.dataFollows?.countPost }}
        </p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class="user-stat-text">bài đăng</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->

      <!-- USER STAT -->
      <div class="user-stat big">
        <!-- USER STAT TITLE -->
        <p class="user-stat-title">
          {{ profileService.dataFollows?.countFollower }}
        </p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class="user-stat-text">theo dõi</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->

      <!-- USER STAT -->
      <div class="user-stat big">
        <!-- USER STAT TITLE -->
        <p class="user-stat-title">
          {{ profileService.dataFollows?.countImg }}
        </p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class="user-stat-text">ảnh</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->
    </div>
    <!-- /USER STATS -->

    <!-- PROFILE HEADER INFO ACTIONS -->
    <div class="profile-header-info-actions" *ngIf="idLocal != 0">
      <!-- PROFILE HEADER INFO ACTION -->
      <p
        class="profile-header-info-action button secondary"
        *ngIf="!profileService.dataFollows?.checkFollow"
      >
        <span class="hide-text-mobile">Theo</span> dõi +
      </p>
      <!-- /PROFILE HEADER INFO ACTION -->

      <!-- PROFILE HEADER INFO ACTION -->
      <p class="profile-header-info-action button primary">
        <span class="hide-text-mobile">Nhắn</span> tin
      </p>
      <!-- /PROFILE HEADER INFO ACTION -->
    </div>
    <!-- /PROFILE HEADER INFO ACTIONS -->
  </div>
  <!-- /PROFILE HEADER INFO -->
</div>
<!-- /PROFILE HEADER -->

<!-- SECTION NAVIGATION -->
<nav class="section-navigation">
  <!-- SECTION MENU -->
  <div id="section-navigation-slider" class="section-menu">
    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'profile'"
      routerLink="/profile"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-timeline">
        <use xlink:href="#svg-timeline"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Bài đăng</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'edit-profile'"
      routerLink="/edit-profile"
      *ngIf="idLocal === 0"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-profile">
        <use xlink:href="#svg-profile"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Thông tin</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'follow'"
      routerLink="/follow"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-friend">
        <use xlink:href="#svg-friend"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Theo dõi</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'photos'"
      routerLink="/photos"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-photos">
        <use xlink:href="#svg-photos"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Hình ảnh</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->
  </div>
  <!-- /SECTION MENU -->

  <!-- SLIDER CONTROLS -->
  <div id="section-navigation-slider-controls" class="slider-controls">
    <!-- SLIDER CONTROL -->
    <div class="slider-control left">
      <!-- SLIDER CONTROL ICON -->
      <svg class="slider-control-icon icon-small-arrow">
        <use xlink:href="#svg-small-arrow"></use>
      </svg>
      <!-- /SLIDER CONTROL ICON -->
    </div>
    <!-- /SLIDER CONTROL -->

    <!-- SLIDER CONTROL -->
    <div class="slider-control right">
      <!-- SLIDER CONTROL ICON -->
      <svg class="slider-control-icon icon-small-arrow">
        <use xlink:href="#svg-small-arrow"></use>
      </svg>
      <!-- /SLIDER CONTROL ICON -->
    </div>
    <!-- /SLIDER CONTROL -->
  </div>
  <!-- /SLIDER CONTROLS -->
</nav>
<!-- /SECTION NAVIGATION -->
</div>

