<!-- PROFILE HEADER -->
<div class="profile-header">
  <!-- PROFILE HEADER COVER -->
  <figure class="profile-header-cover liquid" style="background: url('{{dataHeader.thumb}}') center center / cover no-repeat;">
    <img src="{{dataHeader.thumb}}" alt="cover-01" />
  </figure>
  <!-- /PROFILE HEADER COVER -->

  <!-- PROFILE HEADER INFO -->
  <div class="profile-header-info">
    <!-- USER SHORT DESCRIPTION -->
    <div class="user-short-description big">
      <!-- USER SHORT DESCRIPTION AVATAR -->
      <a class="user-short-description-avatar user-avatar big" href="profile">
        <div class="hexagon-container">
          <div class="hexagon user-avatar-content">
            <div
              class="hexagon-image"
              style="background-image: url('{{ dataHeader.avatar }}')"
            ></div>
          </div>
          <div class="hexagon user-avatar-border">
            <div class="hexagon-border"></div>
          </div>
          <div class="hexagon user-avatar-progress-border">
            <div class="user-avatar-progress"></div>
          </div>
        </div>
      </a>
      <!-- /USER SHORT DESCRIPTION AVATAR -->

      <!-- USER SHORT DESCRIPTION AVATAR -->
      <a
        class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium"
        href="profile"
      >
        <!-- USER AVATAR BORDER -->
        <div class="user-avatar-border">
          <!-- HEXAGON -->
          <div class="hexagon-120-132"></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR BORDER -->

        <!-- USER AVATAR CONTENT -->
        <div class="user-avatar-content">
          <!-- HEXAGON -->
          <div
            class="hexagon-image-82-90"
            data-src="../../assets/images/avatar/01.jpg"
          ></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR CONTENT -->

        <!-- USER AVATAR PROGRESS -->
        <div class="user-avatar-progress">
          <!-- HEXAGON -->
          <div class="hexagon-progress-100-110"></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR PROGRESS -->

        <!-- USER AVATAR PROGRESS BORDER -->
        <div class="user-avatar-progress-border">
          <!-- HEXAGON -->
          <div class="hexagon-border-100-110"></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR PROGRESS BORDER -->
      </a>
      <!-- /USER SHORT DESCRIPTION AVATAR -->

      <!-- USER SHORT DESCRIPTION TITLE -->
      <p class="user-short-description-title">
        <a href="profile-timeline">{{dataHeader.fullname}}</a>
      </p>
      <!-- /USER SHORT DESCRIPTION TITLE -->

      <!-- USER SHORT DESCRIPTION TEXT -->
      <p class="user-short-description-text">
        <a>{{dataHeader.username}}</a>
      </p>
      <!-- /USER SHORT DESCRIPTION TEXT -->
    </div>
    <!-- /USER SHORT DESCRIPTION -->

    <!-- PROFILE HEADER SOCIAL LINKS WRAP -->
    <div class="profile-header-social-links-wrap">
      <!-- PROFILE HEADER SOCIAL LINKS -->
      <div
        id="profile-header-social-links-slider"
        class="profile-header-social-links"
      >
        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link facebook" href="#">
            <!-- ICON FACEBOOK -->
            <svg class="icon-facebook">
              <use xlink:href="#svg-facebook"></use>
            </svg>
            <!-- /ICON FACEBOOK -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>

        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link twitter" href="#">
            <!-- ICON TWITTER -->
            <svg class="icon-twitter">
              <use xlink:href="#svg-twitter"></use>
            </svg>
            <!-- /ICON TWITTER -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>

        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link instagram" href="#">
            <!-- ICON INSTAGRAM -->
            <svg class="icon-instagram">
              <use xlink:href="#svg-instagram"></use>
            </svg>
            <!-- /ICON INSTAGRAM -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>

        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link twitch" href="#">
            <!-- ICON TWITCH -->
            <svg class="icon-twitch">
              <use xlink:href="#svg-twitch"></use>
            </svg>
            <!-- /ICON TWITCH -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>

        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link youtube" href="#">
            <!-- ICON YOUTUBE -->
            <svg class="icon-youtube">
              <use xlink:href="#svg-youtube"></use>
            </svg>
            <!-- /ICON YOUTUBE -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>

        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link patreon" href="#">
            <!-- ICON PATREON -->
            <svg class="icon-patreon">
              <use xlink:href="#svg-patreon"></use>
            </svg>
            <!-- /ICON PATREON -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>

        <div class="profile-header-social-link">
          <!-- SOCIAL LINK -->
          <a class="social-link discord" href="#">
            <!-- ICON DISCORD -->
            <svg class="icon-discord">
              <use xlink:href="#svg-discord"></use>
            </svg>
            <!-- /ICON DISCORD -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>
      </div>
      <!-- /PROFILE HEADER SOCIAL LINKS -->

      <!-- SLIDER CONTROLS -->
      <div
        id="profile-header-social-links-slider-controls"
        class="slider-controls"
      >
        <!-- SLIDER CONTROL -->
        <div class="slider-control left">
          <!-- SLIDER CONTROL ICON -->
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
          <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->

        <!-- SLIDER CONTROL -->
        <div class="slider-control right">
          <!-- SLIDER CONTROL ICON -->
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
          <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
      </div>
      <!-- /SLIDER CONTROLS -->
    </div>
    <!-- /PROFILE HEADER SOCIAL LINKS WRAP -->

    <!-- USER STATS -->
    <div class="user-stats">
      <!-- USER STAT -->
      <div class="user-stat big">
        <!-- USER STAT TITLE -->
        <p class="user-stat-title">{{dataHeader.countPost}}</p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class="user-stat-text">bài đăng</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->

      <!-- USER STAT -->
      <div class="user-stat big">
        <!-- USER STAT TITLE -->
        <p class="user-stat-title">{{dataHeader.countFollower}}</p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class="user-stat-text">theo dõi</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->

      <!-- USER STAT -->
      <div class="user-stat big">
        <!-- USER STAT TITLE -->
        <p class="user-stat-title">{{dataHeader.countImg}}</p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class="user-stat-text">ảnh</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->
    </div>
    <!-- /USER STATS -->

    <!-- PROFILE HEADER INFO ACTIONS -->
    <div class="profile-header-info-actions">
      <!-- PROFILE HEADER INFO ACTION -->
      <p class="profile-header-info-action button secondary" *ngIf="!dataHeader.checkFollow">
        <span class="hide-text-mobile">Theo</span> dõi +
      </p>
      <!-- /PROFILE HEADER INFO ACTION -->

      <!-- PROFILE HEADER INFO ACTION -->
      <p class="profile-header-info-action button primary">
        <span class="hide-text-mobile">Nhắn</span> tin
      </p>
      <!-- /PROFILE HEADER INFO ACTION -->
    </div>
    <!-- /PROFILE HEADER INFO ACTIONS -->
  </div>
  <!-- /PROFILE HEADER INFO -->
</div>
<!-- /PROFILE HEADER -->

<!-- SECTION NAVIGATION -->
<nav class="section-navigation">
  <!-- SECTION MENU -->
  <div id="section-navigation-slider" class="section-menu">
    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'profile'"
      routerLink="/profile"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-timeline">
        <use xlink:href="#svg-timeline"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Bài đăng</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'edit-profile'"
      routerLink="/edit-profile"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-profile">
        <use xlink:href="#svg-profile"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Thông tin</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'follow'"
      routerLink="/follow"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-friend">
        <use xlink:href="#svg-friend"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Theo dõi</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a
      [class.section-menu-item]="true"
      [class.active]="activeMenuItem === 'photos'"
      routerLink="/photos"
    >
      <!-- SECTION MENU ITEM ICON -->
      <svg class="section-menu-item-icon icon-photos">
        <use xlink:href="#svg-photos"></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class="section-menu-item-text">Hình ảnh</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->
  </div>
  <!-- /SECTION MENU -->

  <!-- SLIDER CONTROLS -->
  <div id="section-navigation-slider-controls" class="slider-controls">
    <!-- SLIDER CONTROL -->
    <div class="slider-control left">
      <!-- SLIDER CONTROL ICON -->
      <svg class="slider-control-icon icon-small-arrow">
        <use xlink:href="#svg-small-arrow"></use>
      </svg>
      <!-- /SLIDER CONTROL ICON -->
    </div>
    <!-- /SLIDER CONTROL -->

    <!-- SLIDER CONTROL -->
    <div class="slider-control right">
      <!-- SLIDER CONTROL ICON -->
      <svg class="slider-control-icon icon-small-arrow">
        <use xlink:href="#svg-small-arrow"></use>
      </svg>
      <!-- /SLIDER CONTROL ICON -->
    </div>
    <!-- /SLIDER CONTROL -->
  </div>
  <!-- /SLIDER CONTROLS -->
</nav>
<!-- /SECTION NAVIGATION -->
