<div class="body-admin">
  <app-sidebar-admin></app-sidebar-admin>
  <div class="content">
    <!-- Navbar -->
    <app-navbar-admin></app-navbar-admin>
    <!-- End of Navbar -->
    <main>
      <div class="header">
        <div class="left">
          <h1>Thống kê</h1>
          <ul class="breadcrumbD">
            <li><a href="#"> Thống kê </a></li>
            /
            <li><a href="#" class="active">Bài đăng</a></li>
          </ul>
        </div>
        <a href="#" class="report">
          <i class="bx bx-cloud-download"></i>
          <span>Download</span>
        </a>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4 shadow">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative border-radius-lg shadow-img">
                      <a href="post_detail.html" class="d-block">
                        <img src="../assets/images/product/home-decor-1.jpg" alt="img-blur-shadow"
                          class="img-fluid shadow border-radius-lg" />
                      </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                      <p class="text-gradient text-dark mb-2 text-sm">Ghế sofa</p>
                      <a href="user_detail.html">
                        <h5>Phùng Quốc Vinh</h5>
                      </a>
                      <p class="mb-4 text-sm">
                        Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                        nè, Ai quan tâm ib tui nha!!!
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a href="post_detail.html" type="button" class="btn btn-outline-primary">Xem chi tiết</a>
                        <div class="avatar-group mt-2">
                          <a href="user_detail.html" class="avatar avatar-xs rounded-circle">
                            <img alt=" Image placeholder" src="../assets/images/users/vinh.jpg" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative border-radius-lg shadow-img">
                      <a href="post_detail.html" class="d-block">
                        <img src="../assets/images/product/home-decor-2.jpg" alt="img-blur-shadow"
                          class="img-fluid shadow border-radius-lg" />
                      </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                      <p class="text-gradient text-dark mb-2 text-sm">
                        Bộ chăn gối
                      </p>
                      <a href="user_detail.html">
                        <h5>Nguyễn Khánh Đan</h5>
                      </a>
                      <p class="mb-4 text-sm">
                        Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                        nè, Ai quan tâm ib tui nha!!!
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a href="post_detail.html" type="button" class="btn btn-outline-primary">Xem chi tiết</a>
                        <div class="avatar-group mt-2">
                          <a href="user_detail.html" class="avatar avatar-xs rounded-circle">
                            <img alt=" Image placeholder" src="../assets/images/users/dan.jpg" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative border-radius-lg shadow-img">
                      <a href="post_detail.html" class="d-block">
                        <img src="../assets/images/product/home-decor-3.jpg" alt="img-blur-shadow"
                          class="img-fluid shadow border-radius-lg" />
                      </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                      <p class="text-gradient text-dark mb-2 text-sm">Ghế ngồi</p>
                      <a href="user_detail.html">
                        <h5>Đoàn Hiệp Sỹ</h5>
                      </a>
                      <p class="mb-4 text-sm">
                        Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                        nè, Ai quan tâm ib tui nha!!!
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a href="post_detail.html" type="button" class="btn btn-outline-primary">Xem chi tiết</a>
                        <div class="avatar-group mt-2">
                          <a href="user_detail.html" class="avatar avatar-xs rounded-circle">
                            <img alt=" Image placeholder" src="../assets/images/users/sy.jpg" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative border-radius-lg shadow-img">
                      <a href="post_detail.html" class="d-block">
                        <img src="../assets/images/product/home-decor-1.jpg" alt="img-blur-shadow"
                          class="img-fluid shadow border-radius-lg" />
                      </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                      <p class="text-gradient text-dark mb-2 text-sm">Đèn ngủ</p>
                      <a href="user_detail.html">
                        <h5>Lê Bích Vi</h5>
                      </a>
                      <p class="mb-4 text-sm">
                        Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                        nè, Ai quan tâm ib tui nha!!!
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a href="post_detail.html" type="button" class="btn btn-outline-primary">Xem chi tiết</a>
                        <div class="avatar-group mt-2">
                          <a href="user_detail.html" class="avatar avatar-xs rounded-circle">
                            <img alt=" Image placeholder" src="../assets/images/users/vi.jpg" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 pb-5">
        <!-- Area Chart -->
        <div class="col-lg-8">
          <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body pt-1">
              <div class="header-chart">
                <h6 class="ml-2 mt-2 font-weight-bold">Earnings Overview</h6>
                <div class="">
                  <img src="../assets/images/logo-euphoria.png" />
                </div>
              </div>
              <div class="bg-gradient-dark border-radius-lg m-1">
                <div class="chart-area p-1">
                  <!-- <canvas id="myAreaChart"></canvas> -->
                  <canvas #myAreaChart></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <!-- Pie Chart -->
          <div class="mt-4">
            <!-- Card Body -->
            <div class="">
              <div class="chart-pie">
                <!-- <canvas id="myPieChart"></canvas> -->
                <canvas #myPieChart></canvas>
              </div>
              <div class="mt-4 text-center small text-pie">
                <span class="mr-2">
                  <i class="fas fa-circle text-primary"></i> Direct
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-success"></i> Social
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-info"></i> Referral
                </span>
              </div>
            </div>
            <h5 class="mt-4 mb-3 font-weight-bold text-center text-pie">Top 3</h5>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>