<div class="body-admin">

  <app-sidebar-admin></app-sidebar-admin>
  <div class="content">
    <!-- Navbar -->
    <app-navbar-admin></app-navbar-admin>

    <!-- End of Navbar -->

    <main>
      <div class="pb-5">
        <div class="name-pad shadow pb-4">
          <div class="page-header min-height-300 border-radius-xl mt-1" style="
            background-image: url('../assets/images/img/curved-images/curved0.jpg');
          ">
            <span class="mask bg-gradient-cyan opacity-6"></span>
          </div>
          <div class="row col-lg-12 pr-0">
            <div class="col-xl-2 col-lg-4 col-md-4 ml-5 img-user-detail">
              <div class="mt-n6 mt-lg-n6 mb-4 mb-lg-0">
                <a href="#">
                  <img src="../assets/images/users/vinh.jpg"
                    class="rounded-circle img-fluid border border-2 border-white" alt="" />
                </a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-4 col-md-7 col-sm-12 mt-2 name-user-detail">
              <div class="text-pie">
                <h3 class="mb-0 font-weight-bold text-pie">Phùng Quốc Vinh</h3>
                <p class="mb-3 mt-1 text-dark">Người dùng từ tháng 7</p>
                <div class="row col-xl-9 pl-0">
                  <div class="col-xl-3 mr-0 pr-0">
                    <span class="font-weight-bolder text-pink">2</span> Bài đăng
                  </div>
                  <div class="col-xl-3 mr-0 pr-0">
                    <span class="font-weight-bolder text-pink">4</span> Bạn bè
                  </div>
                  <div class="col-xl-4 mr-0 pr-0">
                    <span class="font-weight-bolder text-pink">6</span> Bình luận
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xl-2 offset-xl-0 col-lg-3 offset-lg-0 col-md-6 offset-md-3 col-sm-6 offset-sm-3 mt-5 name-user-detail">
              <div class="text-pie">
                <a class="btn bg-gradient-endless text-white d-flex align-items-center justify-content-center" href="#"
                  data-toggle="modal" data-target="#disableModal">
                  <i class="bx bxs-user-x mr-1"></i>Vô hiệu hóa</a>
              </div>
            </div>
          </div>
        </div>
        <!-- disable Modal-->
        <div class="modal fade" id="disableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content card">
              <div class="modal-header ml-3 mr-3">
                <h5 class="modal-title text-pink" id="exampleModalLabel">
                  Vô hiệu hóa người dùng này?
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="padding-top: 1.2rem">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body d-flex align-items-center text-dark justify-content-center">
                <a href="#" class="avatar rounded-circle mr-2">
                  <img class="" alt="" src="../assets/images/users/vinh.jpg" /> </a>Phùng Quốc Vinh
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-secondary mr-4" type="button" data-dismiss="modal">
                  <i class="fas fa-ban mr-1"></i>Hủy bỏ
                </button>
                <a class="btn btn-danger" href="#">
                  <i class="fas fa-check"></i> Xác nhận</a>
              </div>
            </div>
          </div>
        </div>
        <!-- disable Modal -->
        <div class="row profile-zindex">
          <div class="col-lg-12 profile-logo-heart">
            <img src="../assets/images/logo-euphoria.png" alt="" />
          </div>
          <div class="col-lg-12 profile-title mt-3">
            <div class="logo" style="height: 0 !important">
              <h2 class="logo-name"><span>DES</span>TINY</h2>
            </div>
          </div>
          <div class="row mt-2 container-userdetail">
            <div class="col-xl-5 col-lg-12 col-md-12 mt-2 mb-3">
              <div class="card shadow pb-3 infor-left" style="z-index: 11">
                <div class="card-body p-2">
                  <div class="row pb-3 p-3">
                    <div class="col-md-8 d-flex align-items-center text-pink">
                      <h5 class="mb-0 font-weight-bold">Thông tin cá nhân</h5>
                    </div>
                    <div class="col-md-4 text-right">
                      <i class="fas fa-star text-pie text-md"></i>
                    </div>
                  </div>
                  <div class="text-sm pl-4 pr-4">
                    <p>Hi.</p>
                  </div>
                  <ul class="list-group pl-1 pr-1">
                    <li class="list-group-item border-0 text-sm">
                      <strong class="text-pink"> Họ và tên: </strong>
                      &nbsp; Phùng Quốc Vinh
                    </li>
                    <li class="list-group-item border-0 text-sm">
                      <strong class="text-pink">Giới tính:</strong> &nbsp; Nam
                    </li>
                    <li class="list-group-item border-0 text-sm">
                      <strong class="text-pink">SĐT:</strong> &nbsp; (+84)
                      12345689
                    </li>
                    <li class="list-group-item border-0 text-sm">
                      <strong class="text-pink">Email:</strong> &nbsp;
                      davisy@mail.com
                    </li>
                    <li class="list-group-item border-0 text-sm">
                      <strong class="text-pink">Địa chỉ:</strong> &nbsp; Cần Thơ
                    </li>
                    <li class="list-group-item border-0 pb-0">
                      <strong class="text-pink text-sm">Mạng xã hội khác:</strong>
                      &nbsp;
                      <a class="btn btn-facebookk btn-simple mb-0 ps-1 pe-2 py-0" href="#">
                        <i class="fa fa-facebook fa-lg text-pie"></i>
                      </a>
                      <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="#">
                        <i class="fa fa-twitter fa-lg text-pie"></i>
                      </a>
                      <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="#">
                        <i class="fa fa-instagram fa-lg text-pie"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card shadow pb-1 pt-5 report-left mt-n4">
                <div class="card-body p-2">
                  <h5 class="font-weight-bold ml-3 text-pink">
                    Nội dung bị báo cáo (4)
                  </h5>
                  <div class="avatar-group row text-pie pt-3 pb-4">
                    <div class="d-flex col-xl-7 ml-3 col-sm-5">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/vi.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h6 style="font-weight: 600">Lê Bích Vi</h6>
                        <div class="ml-0">
                          <div class="mt-n1 text-sm-left">Ngày 8-9-2023</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 text-center mt-3 font-weight-bold">
                      <h6>Dối trá !!!!</h6>
                    </div>
                  </div>
                  <div class="avatar-group row text-pie pt-3 pb-4">
                    <div class="d-flex col-xl-7 ml-3 col-sm-5">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/vinh.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h6 style="font-weight: 600">Phùng Quốc Vinh</h6>
                        <div class="ml-0">
                          <div class="mt-n1 text-sm-left">Ngày 8-9-2023</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 text-center mt-3 font-weight-bold">
                      <h6>Khốn nạn !!!!</h6>
                    </div>
                  </div>
                  <div class="avatar-group row text-pie pt-3 pb-4">
                    <div class="d-flex col-xl-7 ml-3 col-sm-5">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/sy.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h6 style="font-weight: 600">Đoàn Hiệp Sỹ</h6>
                        <div class="ml-0">
                          <div class="mt-n1 text-sm-left">Ngày 8-9-2023</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 text-center mt-3 font-weight-bold">
                      <h6>Lừa Đảo !!!!</h6>
                    </div>
                  </div>
                  <div class="avatar-group row text-pie pt-3 pb-4">
                    <div class="d-flex col-xl-7 ml-3 col-sm-5">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/dan.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h6 style="font-weight: 600">Nguyễn Khánh Đan</h6>
                        <div class="ml-0">
                          <div class="mt-n1 text-sm-left">Ngày 8-9-2023</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 text-center mt-3 font-weight-bold">
                      <h6>Dối trá !!!!</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-12 col-md-12 pt-2 mb-3 user-detail-post" style="z-index: 10">
              <div class="shadow card mb-4">
                <div class="row ml-0 mr-0 col-lg-12 pb-0 pb-4" style="flex-direction: unset">
                  <div class="col-lg-12">
                    <div class="avatar-group row text-pie pl-3 pt-4">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/vinh.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h5 style="font-weight: 600">Phùng Quốc Vinh</h5>
                        <div class="row ml-0">
                          <div class="mt-n2">1 Ngày trước</div>
                          <i class="bx bx-world mt-n1 ml-3" style="font-size: 1rem"></i>
                        </div>
                      </div>
                    </div>
                    <div class="pl-3 pt-3 text-pie" style="min-height: 60px">
                      Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                      nè, Ai quan tâm ib tui nha!!!
                    </div>
                    <div class="col-lg-12 pt-4 mb-4">
                      <div class="picture-collage">
                        <div class="picture-collage-row medium">
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-1.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-2.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="picture-collage-row">
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-3.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-1.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <a class="picture-collage-item-overlay" href="">
                              <p class="picture-collage-item-overlay-text mb-0">
                                +1
                              </p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="border-primaryx mt-3 mb-2 p-0" />
                    <div class="pl-4 pr-4 text-pie" style="display: flex; justify-content: space-between">
                      <div class="row">
                        <i class="bx bxs-heart text-pink"></i>
                        <h6 class="mt-1 ml-1">3</h6>
                      </div>
                      <div class="row">
                        <h6 class="mt-1 mr-1">4</h6>
                        <i class="bx bx-comment"></i>
                        <h6 class="mt-1 ml-3 mr-1">3</h6>
                        <i class="bx bx-share"></i>
                      </div>
                    </div>
                    <hr class="border-primaryx mt-1 mb-3 p-0" />
                    <div class="text-black comment-section pt-1 pb-3 pl-4 pr-1">
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/sy.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Đoàn Hiệp Sỹ</h6>
                          <div class="ml-0">
                            <div class="mt-n1">
                              Tui liên hệ rồi á ní ơi, Check tn đi ạ !!
                            </div>
                          </div>

                          <div class="user-comment d-flex text-pie pl-0 pt-1">
                            <a href="#" class="avatar rounded-circle">
                              <img class="" alt="" src="../assets/images/users/sy.jpg" />
                            </a>
                            <div class="ml-2 content-comment">
                              <h6>Đoàn Hiệp Sỹ</h6>
                              <div class="ml-0">
                                <div class="mt-n1">Rep tui cái bạn ơi !!</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/dan.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Nguyễn Khánh Đan</h6>
                          <div class="ml-0">
                            <div class="mt-n1">Còn không bác?</div>
                          </div>
                        </div>
                      </div>
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/vi.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Lê Bích Vi</h6>
                          <div class="ml-0">
                            <div class="mt-n1">Có free ship hong bạn ơi</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shadow card mb-4">
                <div class="row ml-0 mr-0 col-lg-12 pb-0 pb-4" style="flex-direction: unset">
                  <div class="col-lg-12">
                    <div class="avatar-group row text-pie pl-3 pt-4">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/vinh.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h5 style="font-weight: 600">Phùng Quốc Vinh</h5>
                        <div class="row ml-0">
                          <div class="mt-n2">1 Ngày trước</div>
                          <i class="bx bx-world mt-n1 ml-3" style="font-size: 1rem"></i>
                        </div>
                      </div>
                    </div>
                    <div class="pl-3 pt-3 text-pie" style="min-height: 60px">
                      Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                      nè, Ai quan tâm ib tui nha!!!
                    </div>
                    <div class="col-lg-12 pt-4 mb-4">
                      <div class="picture-collage">
                        <div class="picture-collage-row medium">
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-1.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-2.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="picture-collage-row">
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-3.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-1.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <a class="picture-collage-item-overlay" href="">
                              <p class="picture-collage-item-overlay-text mb-0">
                                +1
                              </p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="border-primaryx mt-3 mb-2 p-0" />
                    <div class="pl-4 pr-4 text-pie" style="display: flex; justify-content: space-between">
                      <div class="row">
                        <i class="bx bxs-heart text-pink"></i>
                        <h6 class="mt-1 ml-1">3</h6>
                      </div>
                      <div class="row">
                        <h6 class="mt-1 mr-1">4</h6>
                        <i class="bx bx-comment"></i>
                        <h6 class="mt-1 ml-3 mr-1">3</h6>
                        <i class="bx bx-share"></i>
                      </div>
                    </div>
                    <hr class="border-primaryx mt-1 mb-3 p-0" />
                    <div class="text-black comment-section pt-1 pb-3 pl-4 pr-1">
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/sy.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Đoàn Hiệp Sỹ</h6>
                          <div class="ml-0">
                            <div class="mt-n1">
                              Tui liên hệ rồi á ní ơi, Check tn đi ạ !!
                            </div>
                          </div>

                          <div class="user-comment d-flex text-pie pl-0 pt-1">
                            <a href="#" class="avatar rounded-circle">
                              <img class="" alt="" src="../assets/images/users/sy.jpg" />
                            </a>
                            <div class="ml-2 content-comment">
                              <h6>Đoàn Hiệp Sỹ</h6>
                              <div class="ml-0">
                                <div class="mt-n1">Rep tui cái bạn ơi !!</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/dan.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Nguyễn Khánh Đan</h6>
                          <div class="ml-0">
                            <div class="mt-n1">Còn không bác?</div>
                          </div>
                        </div>
                      </div>
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/vi.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Lê Bích Vi</h6>
                          <div class="ml-0">
                            <div class="mt-n1">Có free ship hong bạn ơi</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow mb-4">
                <div class="row ml-0 mr-0 col-lg-12 card pb-0 pb-4" style="flex-direction: unset">
                  <div class="col-lg-12">
                    <div class="avatar-group row text-pie pl-3 pt-4">
                      <a href="#" class="avatar rounded-circle">
                        <img class="" alt="Image placeholder" src="../assets/images/users/vinh.jpg" />
                      </a>
                      <div class="ml-3" style="padding-top: 0.1rem !important">
                        <h5 style="font-weight: 600">Phùng Quốc Vinh</h5>
                        <div class="row ml-0">
                          <div class="mt-n2">1 Ngày trước</div>
                          <i class="bx bx-world mt-n1 ml-3" style="font-size: 1rem"></i>
                        </div>
                      </div>
                    </div>
                    <div class="pl-3 pt-3 text-pie" style="min-height: 60px">
                      Tui có mấy món đồ không sài nữa muốn tặng cho bạn nào cần
                      nè, Ai quan tâm ib tui nha!!!
                    </div>
                    <div class="col-lg-12 pt-4 mb-4">
                      <div class="picture-collage">
                        <div class="picture-collage-row medium">
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-1.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-2.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="picture-collage-row">
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-3.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <div class="photo-preview-wrap">
                              <div class="photo-preview">
                                <div class="photo-preview-image" style="
                                  background: url('../assets/images/product/home-decor-1.jpg')
                                    center center / cover no-repeat;
                                "></div>
                              </div>
                              <div></div>
                            </div>
                          </div>
                          <div class="picture-collage-item">
                            <a class="picture-collage-item-overlay" href="">
                              <p class="picture-collage-item-overlay-text mb-0">
                                +1
                              </p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="border-primaryx mt-3 mb-2 p-0" />
                    <div class="pl-4 pr-4 text-pie" style="display: flex; justify-content: space-between">
                      <div class="row">
                        <i class="bx bxs-heart text-pink"></i>
                        <h6 class="mt-1 ml-1">3</h6>
                      </div>
                      <div class="row">
                        <h6 class="mt-1 mr-1">4</h6>
                        <i class="bx bx-comment"></i>
                        <h6 class="mt-1 ml-3 mr-1">3</h6>
                        <i class="bx bx-share"></i>
                      </div>
                    </div>
                    <hr class="border-primaryx mt-1 mb-3 p-0" />
                    <div class="text-black comment-section pt-1 pb-3 pl-4 pr-1">
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/sy.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Đoàn Hiệp Sỹ</h6>
                          <div class="ml-0">
                            <div class="mt-n1">
                              Tui liên hệ rồi á ní ơi, Check tn đi ạ !!
                            </div>
                          </div>

                          <div class="user-comment d-flex text-pie pl-0 pt-1">
                            <a href="#" class="avatar rounded-circle">
                              <img class="" alt="" src="../assets/images/users/sy.jpg" />
                            </a>
                            <div class="ml-2 content-comment">
                              <h6>Đoàn Hiệp Sỹ</h6>
                              <div class="ml-0">
                                <div class="mt-n1">Rep tui cái bạn ơi !!</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/dan.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Nguyễn Khánh Đan</h6>
                          <div class="ml-0">
                            <div class="mt-n1">Còn không bác?</div>
                          </div>
                        </div>
                      </div>
                      <div class="user-comment d-flex text-pie pl-0 pt-1 pb-2">
                        <a href="#" class="avatar rounded-circle">
                          <img class="" alt="" src="../assets/images/users/vi.jpg" />
                        </a>
                        <div class="ml-2 content-comment">
                          <h6>Lê Bích Vi</h6>
                          <div class="ml-0">
                            <div class="mt-n1">Có free ship hong bạn ơi</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>