<!-- ERROR SECTION -->
<div class="error-section">
  <!-- ERROR SECTION TITLE -->
  <p class="error-section-title">404</p>
  <!-- /ERROR SECTION TITLE -->

  <!-- ERROR SECTION INFO -->
  <div class="error-section-info">
    <!-- ERROR SECTION SUBTITLE -->
    <p class="error-section-subtitle">ERROR!!</p>
    <!-- /ERROR SECTION SUBTITLE -->

    <!-- ERROR SECTION TEXT -->
    <!-- <p class="error-section-text">
      Seems that you made a wrong turn and encountered a web black hole that
      absorbed the page you were looking for! But don't panic because you can go
      back!
    </p> -->
    <!-- /ERROR SECTION TEXT -->

    <!-- ERROR SECTION TEXT -->
    <p class="error-section-text">
      Không tìm thấy trang vui lòng kiểm tra lại !!
      <!-- <a href="#">support@vikinger.com</a> -->
    </p>
    <!-- /ERROR SECTION TEXT -->

    <!-- BUTTON -->
    <a class="button medium primary" href="home">Trở về</a>
    <!-- /BUTTON -->
  </div>
  <!-- /ERROR SECTION INFO -->
</div>
<!-- /ERROR SECTION -->
