<main class="overlay" *ngIf="modalService.isOpenSuggest$ | async">
  <div id="favDialog_seemore" class="modal fade favDialog_seemore">
    <!-- <app-loading *ngIf="isLoading"></app-loading> -->
    <div class="widget-box">
      <!-- <button
        (click)="modalService.closeModalSuggest()"
        class="btnClose-seemore-img"
      >
        <i class="fa-solid fa-xmark"></i>
      </button> -->
      <p class="widget-box-title">{{ "newsfeed_dexuatchoban" | translate }}</p>
      <div class="loader-bars" *ngIf="checkLoadingdata">
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
      </div>
      <div *ngIf="!checkLoadingdata">
        <div class="list-suggest">
          <div class="widget-box-content" *ngFor="let item of listSuggested">
            <div class="user-status-list">
              <div class="user-status">
                <div class="info">
                  <div>
                    <a
                      class="user-avatar small user-status-avatar no-border no-outline"
                    >
                      <div class="hexagon-container">
                        <div class="hexagon user-avatar-content">
                          <div
                            class="hexagon-image"
                            style="background-image: url('{{ item.avatar }}')"
                          ></div>
                        </div>
                        <div class="hexagon user-avatar-border">
                          <div class="hexagon-border"></div>
                        </div>
                        <div class="hexagon user-avatar-progress-border">
                          <div class="user-avatar-progress"></div>
                        </div>
                      </div>
                    </a>
                    <div class="user-status-title">
                      <a class="bold top-user">{{ item.fullname }}</a>
                      <span class="bp-verified-badge"></span>
                    </div>
                  </div>

                  <!-- <a class="user-status-text small" (click)="addFollow(item.user_id)">Theo dõi</a> -->
                  <a class="user-status-text small suggested">
                    {{ "sidebar_follow" | translate }}
                  </a>
                </div>

                <div class="checkbox">
                  <label for="cbx-{{ item.user_id }}" class="cbx">
                    <div class="checkmark">
                      <input
                        type="checkbox"
                        id="cbx-{{ item.user_id }}"
                        class="input-check"
                        [attr.data-user-id]="item.user_id"
                      />
                      <div class="flip">
                        <div class="front"></div>
                        <div class="back">
                          <svg viewBox="0 0 16 14" height="14" width="16">
                            <path d="M2 8.5L6 12.5L14 1.5"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btns" id="btns">
          <button class="add-follow" id="addButton" (click)="addFollow()">
            {{ "them" | translate }}
          </button>
          <button
            class="reload-follow"
            id="reloadButton"
            (click)="loadDataSuggest()"
          >
            {{ "tailai" | translate }}
          </button>
        </div>
        <div class="loader-bars" *ngIf="checkAdd">
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<main class="overlay" *ngIf="profileService.isOpenHideInfo$ | async">
  <div id="favDialog_seemore" class="modal fade favDialog_seemore"> 
    <div *ngIf="isLoadingStatus">
      <div class="loader-bars" style="margin-top: 5rem;">
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
      </div>
      <div class="loading">Vui lòng đợi trong giây lát</div>
    </div>
    <div class="widget-box hide-info" *ngIf="!isLoadingStatus">
      <div
        (click)="profileService.closeModalHideInfo()"
        class="btnClose-seemore-img"
      >
        <i class="fa-solid fa-xmark"></i>
      </div>
      <p class="widget-box-title">Chỉnh sửa phần giới thiệu</p>
      <p class="widget-box-description">
        Thông tin bạn chọn sẽ được hiển thị công khai
      </p>
      <ng-container *ngIf="!profileService.checkLoadingdata">
        <form [formGroup]="updateStatusForm" (ngSubmit)="updateStatus()" action="" novalidate>
        <div class="list-info">
          <div class="widget-box-content">
            <div class="user-status-list">
              <div class="user-status" style="padding-left: 0">
                <div class="icon-description">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="info">
                  <div class="user-status-title">
                    <a class="bold top-user">Tỉnh/Thành phố</a>
                    <span class="bp-verified-badge"></span>
                  </div>
                </div>

                <div class="checkbox">
                  <label for="cbx-location" class="cbx">
                    <div class="checkmark">
                      <input
                        type="checkbox"
                        id="cbx-location"
                        class="input-check"
                        formControlName="location"
                      />
                      <div class="flip">
                        <div class="front"></div>
                        <div class="back">
                          <svg viewBox="0 0 16 14" height="14" width="16">
                            <path d="M2 8.5L6 12.5L14 1.5"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="widget-box-content">
            <div class="user-status-list">
              <div class="user-status" style="padding-left: 0">
                <div class="icon-description">
                  <i class="fa-solid fa-venus-mars"></i>
                </div>
                <div class="info">
                  <div class="user-status-title">
                    <a class="bold top-user">Giới tính</a>
                    <span class="bp-verified-badge"></span>
                  </div>
                </div>

                <div class="checkbox">
                  <label for="cbx-gender" class="cbx">
                    <div class="checkmark">
                      <input
                        type="checkbox"
                        id="cbx-gender"
                        class="input-check"
                        formControlName="gender"
                      />
                      <div class="flip">
                        <div class="front"></div>
                        <div class="back">
                          <svg viewBox="0 0 16 14" height="14" width="16">
                            <path d="M2 8.5L6 12.5L14 1.5"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="widget-box-content">
            <div class="user-status-list">
              <div class="user-status" style="padding-left: 0">
                <div class="icon-description">
                  <i class="fa-solid fa-calendar"></i>
                </div>
                <div class="info">
                  <div class="user-status-title">
                    <a class="bold top-user">Ngày sinh</a>
                    <span class="bp-verified-badge"></span>
                  </div>
                </div>

                <div class="checkbox">
                  <label for="cbx-birthday" class="cbx">
                    <div class="checkmark">
                      <input
                        type="checkbox"
                        id="cbx-birthday"
                        class="input-check"
                        formControlName="birthday"
                      />
                      <div class="flip">
                        <div class="front"></div>
                        <div class="back">
                          <svg viewBox="0 0 16 14" height="14" width="16">
                            <path d="M2 8.5L6 12.5L14 1.5"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btns" id="btns">
          <button class="add-follow" id="addButton" type="submit" style="cursor: pointer;">
            Lưu
          </button>
        </div>
      </form>
      </ng-container>

    </div>
  </div>
</main>
