<body>
  <app-navigation></app-navigation>

  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
      <!-- SECTION BANNER ICON -->
      <img
        class="section-banner-icon"
        src="../../assets/images/banner/accounthub-icon.png"
        alt="accounthub-icon"
      />
      <!-- /SECTION BANNER ICON -->

      <!-- SECTION BANNER TITLE -->
      <p class="section-banner-title">Đổi mật khẩu</p>
      <!-- /SECTION BANNER TITLE -->

      <!-- SECTION BANNER TEXT -->
      <p class="section-banner-text">
        Tiến hành thay đổi mật khẩu của bạn tại đây!
      </p>
      <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- GRID -->
    <section class="vh-lg-100 d-flex align-items-center">
      <div class="container">
        <div
          class="row justify-content-center form-bg-image"
          data-background="https://appsrv1-147a1.kxcdn.com/volt-dashboard/img/illustrations/signin.svg"
        >
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div
              class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500"
            >
              <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">
                  <a
                    target="_blank"
                    href="https://themesberg.com/product/django/volt-admin-dashboard-template"
                    >Đổi mật khẩu</a
                  >
                </h1>
                <br />
                <p>
                  Để tăng cường tính bảo mật cho tài khoản của bạn, vui lòng hãy
                  nhập mật khẩu hiện tại để xác minh thông tin.
                </p>
              </div>

              <form method="post" action="" class="mt-4">
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="lZwnY2y3Y7e6N4vycGQ8Swc8Ks4aDCQ0CoY0VIpJ8oI5x4113w5k7p2q3wNZRSqQ"
                />

                <!-- Form -->
                <div class="form-group mb-4">
                  <div class="form-input small">
                    <label for="account-current-password">Nhập mật khẩu hiện tại</label>
                    <input type="password" id="oldPass" name="account_current_password">
                    <span class="form-item-icon-eye hide-show-pass">
                        <i
                          (click)="showHideOldPass()"
                          class="fa-regular fa-eye"
                          id="eye1"
                        ></i>
                      </span>
                  </div>
                </div>
                <!-- End of Form -->
                <div class="form-group">
                  <!-- Form -->
                  <div class="form-group mb-4">
                    <!-- FORM INPUT -->
                    <div class="form-input small">
                        <label for="account-new-password">Nhập mật khẩu mới</label>
                        <input type="password" id="newPass" name="account_new_password">
                        <span class="form-item-icon-eye hide-show-pass">
                            <i
                              (click)="showHideNewPass()"
                              class="fa-regular fa-eye"
                              id="eye2"
                            ></i>
                          </span>
                    </div>
                      <!-- /FORM INPUT -->
                  </div>
                  <!-- End of Form -->

                  <!-- Form -->
                  <div class="form-group mb-4">
                    <!-- FORM INPUT -->
                    <div class="form-input small">
                        <label for="account-new-password-confirm">Xác nhận mật khẩu mới</label>
                        <input type="password" id="reNewPass" name="account_new_password_confirm">
                        <span class="form-item-icon-eye hide-show-pass">
                            <i
                              (click)="showHideNewPass()"
                              class="fa-regular fa-eye"
                              id="eye3"
                            ></i>
                          </span>
                    </div>
                      <!-- /FORM INPUT -->
                  </div>
                  <!-- End of Form -->
                </div>
                <button
                  type="submit"
                  name="login"
                  class="btn btn-block btn-primary"
                >
                  Xác nhận
                </button>
              </form>
              <p class="forgot-pass">Bạn quên mật khẩu? <a href="">Quên mật khẩu</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->

  <app-modal></app-modal>
</body>
