main.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10001;
}

.modal-body {
  padding-top: 0;
}

/* main .widget-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1F5F9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10002;
    width: 385px;
    height: 540px;
    border-radius: 10px;
    
} */
.button {
  appaerance: none;
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(244, 244, 244, 0.8);
}

.container.qr {
  background: #fff !important;
  top: 25%;
  left: 35%;
  width: 35%;
  height: 50%;
  border-radius: 10px
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.15);
  border-radius: 10px;
}

.modal__header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__body {
  padding: 1rem 1rem;
}

.modal__footer {
  padding: 0 1.5rem 1.5rem;
}

.modal__title {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button--icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
}

.button--icon:focus,
.button--icon:hover {
  background-color: #ededed;
}

.button--primary {
  background-color: #615DFA;
  color: #FFF;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button--primary:hover {
  background-color: #4d47f4;
}

.input {
  display: flex;
  flex-direction: column;
}

.input+.input {
  margin-top: 0.5rem;
}

.input__label {
  font-weight: 700;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input__field {
  display: block;
  margin-top: 0.5rem;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  transition: 0.15s ease;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.input__field:focus {
  outline: none;
  /* border-color: #007dab;
    box-shadow: 0 0 0 1px #007dab, 0 0 0 4px rgba(0, 125, 171, 0.25); */
}

.input__field--textarea {
  min-height: 100px;
  max-width: 100%;
}

.input__description {
  font-size: 15px;
  line-height: 1.4;
  margin-top: 0.5rem;
  color: #8d8d8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.input__description.error {
  color: red !important;
}

button.button.button--icon {
  background: white;
  box-shadow: none;
}

.button {
  display: flex !important;
}

.loading {
  text-align: center;
  color: #8d8d8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 88%;
  }

  .container.qr[_ngcontent-ng-c46582615] {
    left: 5%;
    width: 90%;
  }
}

div.btnClose-qr {
  position: absolute;
  right: 5%;
  top: 2%;
  /* background: #D8DADF; */
  opacity: 0.5;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
}

img.img-qr {
  width: 100%;
}

.qr-code {
  text-align: center;
}

button.re-create-qr {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
 }
 
 button.re-create-qr:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 button.re-create-qr:active {
  transform: translate(0em, 0.2em);
 }