/* loading-spinner.component.css */


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 43%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.notification-content {
  text-align: center;
  font-size: 17px;
  color: #3e3f5e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 480px) {
  .lds-facebook {
    margin-left: 38%;
  }
  .spinner {
    position: relative;
    margin-top: 50%;
  }
}