<app-navigation></app-navigation>

<!-- CONTENT GRID -->
<div class="content-grid">
  <!-- SECTION BANNER -->
  <div class="section-banner">
    <!-- SECTION BANNER ICON -->
    <img class="section-banner-icon" src="../../assets/images/banner/accounthub-icon.png" alt="accounthub-icon" />
    <!-- /SECTION BANNER ICON -->

    <!-- SECTION BANNER TITLE -->
    <p class="section-banner-title">{{ "sidebar_history" | translate }}</p>
    <!-- /SECTION BANNER TITLE -->

    <!-- SECTION BANNER TEXT -->
    <p class="section-banner-text">
      {{ "history_title_description" | translate }} !
    </p>
    <!-- /SECTION BANNER TEXT -->
  </div>
  <!-- /SECTION BANNER -->
  <app-loading *ngIf="isLoading"></app-loading>
  <!-- SECTION HEADER -->
  <div *ngIf="!isLoading">
    <div class="section-header">
      <!-- SECTION HEADER INFO -->
      <div class="section-header-info">
        <!-- SECTION PRETITLE -->
        <p class="section-pretitle">{{ "home_welcome" | translate }}</p>
        <!-- /SECTION PRETITLE -->

        <!-- SECTION TITLE -->
        <h2 class="section-title">{{ "nhatkyhoatdong" | translate }}</h2>
        <!-- /SECTION TITLE -->
      </div>
      <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v7">


      <!-- SECTION FILTERS BAR ACTIONS -->
      <div class="section-filters-bar-actions">
        <!-- FORM -->
        <div class="form">
          <!-- FORM ITEM -->
          <div class="form-item split">
            <!-- FORM INPUT -->
            <div class="form-input small">
              <!-- <label for="forum-search">Tìm kiếm</label> -->
              <input type="text" [ngClass]="{'hidden': activeContent !== 'interested'}"
                [(ngModel)]="searchQueries.interested" (input)="performSearch('interested')"
                placeholder="{{ 'nhaptennguoidanbai' | translate }}">
              <input type="text" [ngClass]="{'hidden': activeContent !== 'share'}" [(ngModel)]="searchQueries.share"
                (input)="performSearch('share')" placeholder="{{ 'nhaptennguoidanbai' | translate }}">
              <input type="text" [ngClass]="{'hidden': activeContent !== 'sendreciever'}"
                [(ngModel)]="searchQueries.sendreciever" (input)="performSearch('sendreciever')"
                placeholder="{{ 'nhaptennguoidanbai' | translate }}">
            </div>
            <!-- /FORM INPUT -->

            <!-- BUTTON -->
            <button class="button primary">
              <!-- ICON MAGNIFYING GLASS -->
              <svg class="icon-magnifying-glass">
                <use xlink:href="#svg-magnifying-glass"></use>
              </svg>
              <!-- /ICON MAGNIFYING GLASS -->
            </button>
            <!-- /BUTTON -->
          </div>
          <!-- /FORM ITEM -->
        </div>
        <!-- /FORM -->
      </div>
      <!-- /SECTION FILTERS BAR ACTIONS -->
    </div>
    <!-- /SECTION FILTERS BAR -->

    <div class="tabs">
      <input type="radio" id="tab1" name="tab-control" (click)="openTabFollow('interested')" checked />
      <input type="radio" id="tab2" name="tab-control" (click)="openTabFollow('share')" />
      <input type="radio" id="tab3" name="tab-control" (click)="openTabFollow('sendreciever')" />
      <ul>
        <li title="Features">
          <label for="tab1" role="button"><svg xmlns="http://www.w3.org/2000/svg" height="1em"
              viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" />
            </svg><br /><span>{{ "history_luottuongtac" | translate }}</span></label>
        </li>
        <li title="Delivery Contents">
          <label for="tab2" role="button"><svg xmlns="http://www.w3.org/2000/svg" height="1em"
              viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z" />
            </svg><br /><span>{{ "history_luotchiase" | translate }}</span></label>
        </li>
        <li title="Shipping">
          <label for="tab3" role="button"><svg xmlns="http://www.w3.org/2000/svg" height="1em"
              viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z" />
            </svg><br /><span>{{ "Comment" | translate }}</span></label>
        </li>
      </ul>
      <hr>
      <div class="content">
        <section>
          <h2>{{ "history_luottuongtac" | translate }}</h2>
          <!-- TABLE -->
          <div class="table table-forum-category">
            <div *ngIf="searchPerformed && !checkFind[activeContent!]" class="emty-message">{{ "lichsukhongtontai" |
              translate }}!</div>
            <!-- TABLE HEADER -->
            <div class="table-header">
              <!-- TABLE HEADER COLUMN -->
              <div class="table-header-column">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">{{ "history_baidatuongtac" | translate }}</p>
                <!-- /TABLE HEADER TITLE -->
              </div>
              <!-- /TABLE HEADER COLUMN -->

              <!-- TABLE HEADER COLUMN -->
              <div class="table-header-column centered padded-medium">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">{{ "history_time" | translate }}</p>
                <!-- /TABLE HEADER TITLE -->
              </div>
              <!-- /TABLE HEADER COLUMN -->
            </div>
            <!-- /TABLE HEADER -->

            <!-- TABLE BODY -->
            <div class="table-body">
              <!-- TABLE ROW -->
              <div class="table-row big" *ngFor="let interested of (isSearching ? searchResults : listInterested)">
                <!-- TABLE COLUMN -->
                <div class="table-column">
                  <!-- FORUM CATEGORY -->
                  <div class="forum-category">
                    <!-- FORUM CATEGORY IMAGE -->
                    <a>
                      <img class="forum-category-image" src="{{interested[1]}}" alt="category-01">
                    </a>
                    <!-- /FORUM CATEGORY IMAGE -->

                    <!-- FORUM CATEGORY INFO -->
                    <div class="forum-category-info">
                      <!-- FORUM CATEGORY TITLE -->
                      <p class="forum-category-title"><a href="profile"
                          (click)="this.profileService.loadDataProfileTimeline(interested[5])">{{interested[2]}}</a></p>
                      <!-- /FORUM CATEGORY TITLE -->

                      <!-- FORUM CATEGORY TEXT -->
                      <p class="forum-category-text">{{interested[3]}}
                      </p>
                      <!-- /FORUM CATEGORY TEXT -->
                    </div>
                    <!-- /FORUM CATEGORY INFO -->
                  </div>
                  <!-- /FORUM CATEGORY -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                  <!-- TABLE TITLE -->
                  <p class="table-title">{{interested[4]}}</p>
                  <!-- /TABLE TITLE -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                  <div class="dropdown">
                    <div class="dropbtn" (click)="toggleDropdown(interested[0], 'interested')">
                      <i class="fa fa-ellipsis-v"></i>
                    </div>
                    <div id="myDropdown-interested-{{interested[0]}}"
                      class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="detail-post?id={{interested[0]}}">{{ "hishistory_xemlai" |
                        translate }}</a>
                    </div>
                  </div>
                </div>
                <!-- /TABLE COLUMN -->
              </div>
              <!-- /TABLE ROW -->
            </div>
            <!-- /TABLE BODY -->
          </div>
          <!-- /TABLE -->
        </section>
        <section>
          <h2>{{ "history_luotchiase" | translate }}</h2>
          <!-- TABLE -->
          <div class="table table-forum-category">
            <div *ngIf="searchPerformed && !checkFind[activeContent!]" class="emty-message">Lịch sử không tồn tại!</div>
            <!-- TABLE HEADER -->
            <div class="table-header">
              <!-- TABLE HEADER COLUMN -->
              <div class="table-header-column">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">{{ "baidachiase" | translate }}</p>
                <!-- /TABLE HEADER TITLE -->
              </div>
              <!-- /TABLE HEADER COLUMN -->

              <!-- TABLE HEADER COLUMN -->
              <div class="table-header-column centered padded-medium">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">{{ "history_time" | translate }}</p>
                <!-- /TABLE HEADER TITLE -->
              </div>
              <!-- /TABLE HEADER COLUMN -->
            </div>
            <!-- /TABLE HEADER -->

            <!-- TABLE BODY -->
            <div class="table-body">
              <!-- TABLE ROW -->
              <div class="table-row big" *ngFor="let share of (isSearching ? searchResults : listShare)">
                <!-- TABLE COLUMN -->
                <div class="table-column">
                  <!-- FORUM CATEGORY -->
                  <div class="forum-category">
                    <!-- FORUM CATEGORY IMAGE -->
                    <a>
                      <img class="forum-category-image" src="{{share[1]}}" alt="category-01">
                    </a>
                    <!-- /FORUM CATEGORY IMAGE -->

                    <!-- FORUM CATEGORY INFO -->
                    <div class="forum-category-info">
                      <!-- FORUM CATEGORY TITLE -->
                      <p class="forum-category-title"><a href="profile"
                          (click)="this.profileService.loadDataProfileTimeline(share[5])">{{share[2]}}</a></p>
                      <!-- /FORUM CATEGORY TITLE -->

                      <!-- FORUM CATEGORY TEXT -->
                      <p class="forum-category-text">{{share[3]}}
                      </p>
                      <!-- /FORUM CATEGORY TEXT -->
                    </div>
                    <!-- /FORUM CATEGORY INFO -->
                  </div>
                  <!-- /FORUM CATEGORY -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                  <!-- TABLE TITLE -->
                  <p class="table-title">{{share[4]}}</p>
                  <!-- /TABLE TITLE -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                  <div class="dropdown">
                    <div class="dropbtn" (click)="toggleDropdown(share[0], 'share')">
                      <i class="fa fa-ellipsis-v"></i>
                    </div>
                    <div id="myDropdown-share-{{share[0]}}"
                      class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="detail-post?id={{share[0]}}">{{ "hishistory_xemlai" | translate
                        }}</a>
                    </div>
                  </div>
                </div>
                <!-- /TABLE COLUMN -->
              </div>
              <!-- /TABLE ROW -->
            </div>
            <!-- /TABLE BODY -->
          </div>
          <!-- /TABLE -->
        </section>
        <section>
          <h2>{{ "Comment" | translate }}</h2>
          <!-- TABLE -->
          <div class="table table-forum-category">
            <div *ngIf="searchPerformed && !checkFind[activeContent!]" class="emty-message">Lịch sử không tồn tại!</div>
            <!-- TABLE HEADER -->
            <div class="table-header">
              <!-- TABLE HEADER COLUMN -->
              <div class="table-header-column">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">{{ "baidabinhluan" | translate }}</p>
                <!-- /TABLE HEADER TITLE -->
              </div>
              <!-- /TABLE HEADER COLUMN -->

              <!-- TABLE HEADER COLUMN -->
              <div class="table-header-column centered padded-medium">
                <!-- TABLE HEADER TITLE -->
                <p class="table-header-title">{{ "history_time" | translate }}</p>
                <!-- /TABLE HEADER TITLE -->
              </div>
              <!-- /TABLE HEADER COLUMN -->
            </div>
            <!-- /TABLE HEADER -->

            <!-- TABLE BODY -->
            <div class="table-body">
              <!-- TABLE ROW -->
              <div class="table-row big" *ngFor="let sendreciever of (isSearching ? searchResults : listSendreciever)">
                <!-- TABLE COLUMN -->
                <div class="table-column">
                  <!-- FORUM CATEGORY -->
                  <div class="forum-category">
                    <!-- FORUM CATEGORY IMAGE -->
                    <a>
                      <img class="forum-category-image" src="{{sendreciever[1]}}" alt="category-01">
                    </a>
                    <!-- /FORUM CATEGORY IMAGE -->

                    <!-- FORUM CATEGORY INFO -->
                    <div class="forum-category-info">
                      <!-- FORUM CATEGORY TITLE -->
                      <p class="forum-category-title"><a href="profile"
                          (click)="this.profileService.loadDataProfileTimeline(sendreciever[5])">{{sendreciever[2]}}</a>
                      </p>
                      <!-- /FORUM CATEGORY TITLE -->

                      <!-- FORUM CATEGORY TEXT -->
                      <p class="forum-category-text">{{sendreciever[3]}}
                      </p>
                      <!-- /FORUM CATEGORY TEXT -->
                    </div>
                    <!-- /FORUM CATEGORY INFO -->
                  </div>
                  <!-- /FORUM CATEGORY -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                  <!-- TABLE TITLE -->
                  <p class="table-title">{{sendreciever[4]}}</p>
                  <!-- /TABLE TITLE -->
                </div>
                <!-- /TABLE COLUMN -->

                <!-- TABLE COLUMN -->
                <div class="table-column centered padded-medium">
                  <div class="dropdown">
                    <div class="dropbtn" (click)="toggleDropdown(sendreciever[0], 'Sendreciever')">
                      <i class="fa fa-ellipsis-v"></i>
                    </div>
                    <div id="myDropdown-Sendreciever-{{sendreciever[0]}}"
                      class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="detail-post?id={{sendreciever[0]}}">{{ "hishistory_xemlai" |
                        translate }}</a>
                    </div>
                  </div>
                </div>
                <!-- /TABLE COLUMN -->
              </div>
              <!-- /TABLE ROW -->
            </div>
            <!-- /TABLE BODY -->
          </div>
          <!-- /TABLE -->
        </section>
      </div>
    </div>
  </div>

</div>
<!-- /CONTENT GRID -->
<app-detail-post></app-detail-post>