<app-navigation></app-navigation>

<!-- CONTENT GRID -->
<div class="content-grid">
  <!-- SECTION BANNER -->
  <div class="section-banner">
    <!-- SECTION BANNER ICON -->
    <img class="section-banner-icon" src="../../assets/images/banner/accounthub-icon.png" alt="accounthub-icon" />
    <!-- /SECTION BANNER ICON -->

    <!-- SECTION BANNER TITLE -->
    <p class="section-banner-title">Nhật ký</p>
    <!-- /SECTION BANNER TITLE -->

    <!-- SECTION BANNER TEXT -->
    <p class="section-banner-text">
      Cùng xem lại các hoạt động của bạn!
    </p>
    <!-- /SECTION BANNER TEXT -->
  </div>
  <!-- /SECTION BANNER -->
  <app-loading *ngIf="isLoading"></app-loading>
  <!-- SECTION HEADER -->
 <div *ngIf="!isLoading">
  <div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
      <!-- SECTION PRETITLE -->
      <p class="section-pretitle">Chào mừng đến với</p>
      <!-- /SECTION PRETITLE -->

      <!-- SECTION TITLE -->
      <h2 class="section-title">Nhật ký hoạt động</h2>
      <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>
  <!-- /SECTION HEADER -->

  <!-- SECTION FILTERS BAR -->
  <div class="section-filters-bar v7">


    <!-- SECTION FILTERS BAR ACTIONS -->
    <div class="section-filters-bar-actions">
      <!-- FORM -->
      <form class="form">
        <!-- FORM ITEM -->
        <div class="form-item split">
          <!-- FORM INPUT -->
          <div class="form-input small">
            <label for="forum-search">Tìm kiếm</label>
            <input type="text" id="forum-search" name="forum_search">
          </div>
          <!-- /FORM INPUT -->

          <!-- BUTTON -->
          <button class="button primary">
            <!-- ICON MAGNIFYING GLASS -->
            <svg class="icon-magnifying-glass">
              <use xlink:href="#svg-magnifying-glass"></use>
            </svg>
            <!-- /ICON MAGNIFYING GLASS -->
          </button>
          <!-- /BUTTON -->
        </div>
        <!-- /FORM ITEM -->
      </form>
      <!-- /FORM -->
    </div>
    <!-- /SECTION FILTERS BAR ACTIONS -->
  </div>
  <!-- /SECTION FILTERS BAR -->

  <div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked />
    <input type="radio" id="tab2" name="tab-control" />
    <input type="radio" id="tab3" name="tab-control" />
    <ul>
      <li title="Features">
        <label for="tab1" role="button"><svg viewBox="0 0 24 24">
            <path
              d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
          </svg><br /><span>Lượt tương tác</span></label>
      </li>
      <li title="Delivery Contents">
        <label for="tab2" role="button"><svg viewBox="0 0 24 24">
            <path
              d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
          </svg><br /><span>Lượt chia sẻ</span></label>
      </li>
      <li title="Shipping">
        <label for="tab3" role="button"><svg viewBox="0 0 24 24">
            <path
              d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z" />
          </svg><br /><span>Hàng đã nhận</span></label>
      </li>
    </ul>
    <hr>
    <div class="content">
      <section>
        <h2>Lượt tương tác</h2>
        <!-- TABLE -->
        <div class="table table-forum-category">
          <!-- TABLE HEADER -->
          <div class="table-header">
            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column">
              <!-- TABLE HEADER TITLE -->
              <p class="table-header-title">Bài đã tương tác</p>
              <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->

            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column centered padded-medium">
              <!-- TABLE HEADER TITLE -->
              <p class="table-header-title">Thời gian</p>
              <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->
          </div>
          <!-- /TABLE HEADER -->

          <!-- TABLE BODY -->
          <div class="table-body">
            <!-- TABLE ROW -->
            <div class="table-row big" *ngFor="let interested of listInterested">
              <!-- TABLE COLUMN -->
              <div class="table-column">
                <!-- FORUM CATEGORY -->
                <div class="forum-category">
                  <!-- FORUM CATEGORY IMAGE -->
                  <a href="forums-category.html">
                    <img class="forum-category-image" src="{{interested[1]}}"
                      alt="category-01">
                  </a>
                  <!-- /FORUM CATEGORY IMAGE -->

                  <!-- FORUM CATEGORY INFO -->
                  <div class="forum-category-info">
                    <!-- FORUM CATEGORY TITLE -->
                    <p class="forum-category-title"><a href="forums-category.html">{{interested[2]}}</a></p>
                    <!-- /FORUM CATEGORY TITLE -->

                    <!-- FORUM CATEGORY TEXT -->
                    <p class="forum-category-text">{{interested[3]}}
                    </p>
                    <!-- /FORUM CATEGORY TEXT -->
                  </div>
                  <!-- /FORUM CATEGORY INFO -->
                </div>
                <!-- /FORUM CATEGORY -->
              </div>
              <!-- /TABLE COLUMN -->

              <!-- TABLE COLUMN -->
              <div class="table-column centered padded-medium">
                <!-- TABLE TITLE -->
                <p class="table-title">{{interested[4]}}</p>
                <!-- /TABLE TITLE -->
              </div>
              <!-- /TABLE COLUMN -->

              <!-- TABLE COLUMN -->
              <div class="table-column centered padded-medium">
                <div class="dropdown">
                  <div class="dropbtn" (click)="toggleDropdown(interested[0], 'interested')">
                    <i class="fa fa-ellipsis-v"></i>
                  </div>
                  <div id="myDropdown-interested-{{interested[0]}}" class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="historyService.openModalDetailPost(interested[0])">Xem lại</a>
                  </div>
                </div>
              </div>
              <!-- /TABLE COLUMN -->
            </div>
            <!-- /TABLE ROW -->
          </div>
          <!-- /TABLE BODY -->
        </div>
        <!-- /TABLE -->
      </section>
      <section>
        <h2>Lượt chia sẻ</h2>
        <!-- TABLE -->
        <div class="table table-forum-category">
          <!-- TABLE HEADER -->
          <div class="table-header">
            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column">
              <!-- TABLE HEADER TITLE -->
              <p class="table-header-title">Bài đã chia sẻ</p>
              <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->

            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column centered padded-medium">
              <!-- TABLE HEADER TITLE -->
              <p class="table-header-title">Thời gian</p>
              <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->
          </div>
          <!-- /TABLE HEADER -->

          <!-- TABLE BODY -->
          <div class="table-body">
            <!-- TABLE ROW -->
            <div class="table-row big" *ngFor="let share of listShare">
              <!-- TABLE COLUMN -->
              <div class="table-column">
                <!-- FORUM CATEGORY -->
                <div class="forum-category">
                  <!-- FORUM CATEGORY IMAGE -->
                  <a href="forums-category.html">
                    <img class="forum-category-image" src="{{share[1]}}"
                      alt="category-01">
                  </a>
                  <!-- /FORUM CATEGORY IMAGE -->

                  <!-- FORUM CATEGORY INFO -->
                  <div class="forum-category-info">
                    <!-- FORUM CATEGORY TITLE -->
                    <p class="forum-category-title"><a href="forums-category.html">{{share[2]}}</a></p>
                    <!-- /FORUM CATEGORY TITLE -->

                    <!-- FORUM CATEGORY TEXT -->
                    <p class="forum-category-text">{{share[3]}}
                    </p>
                    <!-- /FORUM CATEGORY TEXT -->
                  </div>
                  <!-- /FORUM CATEGORY INFO -->
                </div>
                <!-- /FORUM CATEGORY -->
              </div>
              <!-- /TABLE COLUMN -->

              <!-- TABLE COLUMN -->
              <div class="table-column centered padded-medium">
                <!-- TABLE TITLE -->
                <p class="table-title">{{share[4]}}</p>
                <!-- /TABLE TITLE -->
              </div>
              <!-- /TABLE COLUMN -->

              <!-- TABLE COLUMN -->
              <div class="table-column centered padded-medium">
                <div class="dropdown">
                  <div class="dropbtn" (click)="toggleDropdown(share[0], 'share')">
                    <i class="fa fa-ellipsis-v"></i>
                  </div>
                  <div id="myDropdown-share-{{share[0]}}" class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="historyService.openModalDetailPost(share[0])">Xem lại</a>
                  </div>
                </div>
              </div>
              <!-- /TABLE COLUMN -->
            </div>
            <!-- /TABLE ROW -->
          </div>
          <!-- /TABLE BODY -->
        </div>
        <!-- /TABLE -->
      </section>
      <section>
        <h2>Hàng đã nhận</h2>
        <!-- TABLE -->
        <div class="table table-forum-category">
          <!-- TABLE HEADER -->
          <div class="table-header">
            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column">
              <!-- TABLE HEADER TITLE -->
              <p class="table-header-title">Sản phẩm đã nhận</p>
              <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->

            <!-- TABLE HEADER COLUMN -->
            <div class="table-header-column centered padded-medium">
              <!-- TABLE HEADER TITLE -->
              <p class="table-header-title">Thời gian</p>
              <!-- /TABLE HEADER TITLE -->
            </div>
            <!-- /TABLE HEADER COLUMN -->



          </div>
          <!-- /TABLE HEADER -->

          <!-- TABLE BODY -->
          <div class="table-body">
            <!-- TABLE ROW -->
            <div class="table-row big" *ngFor="let Sendreciever of listSendreciever">
              <!-- TABLE COLUMN -->
              <div class="table-column">
                <!-- FORUM CATEGORY -->
                <div class="forum-category">
                  <!-- FORUM CATEGORY IMAGE -->
                  <a href="forums-category.html">
                    <img class="forum-category-image" src="{{Sendreciever[1]}}"
                      alt="category-01">
                  </a>
                  <!-- /FORUM CATEGORY IMAGE -->

                  <!-- FORUM CATEGORY INFO -->
                  <div class="forum-category-info">
                    <!-- FORUM CATEGORY TITLE -->
                    <p class="forum-category-title"><a href="forums-category.html">{{Sendreciever[2]}}</a></p>
                    <!-- /FORUM CATEGORY TITLE -->

                    <!-- FORUM CATEGORY TEXT -->
                    <p class="forum-category-text">{{Sendreciever[3]}}
                    </p>
                    <!-- /FORUM CATEGORY TEXT -->
                  </div>
                  <!-- /FORUM CATEGORY INFO -->
                </div>
                <!-- /FORUM CATEGORY -->
              </div>
              <!-- /TABLE COLUMN -->

              <!-- TABLE COLUMN -->
              <div class="table-column centered padded-medium">
                <!-- TABLE TITLE -->
                <p class="table-title">{{Sendreciever[4]}}</p>
                <!-- /TABLE TITLE -->
              </div>
              <!-- /TABLE COLUMN -->

              <!-- TABLE COLUMN -->
              <div class="table-column centered padded-medium">
                <div class="dropdown">
                  <div class="dropbtn" (click)="toggleDropdown(Sendreciever[0], 'Sendreciever')">
                    <i class="fa fa-ellipsis-v"></i>
                  </div>
                  <div id="myDropdown-Sendreciever-{{Sendreciever[0]}}" class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="historyService.openModalDetailPost(Sendreciever[0])">Xem lại</a>
                  </div>
                </div>
              </div>
              <!-- /TABLE COLUMN -->
            </div>
            <!-- /TABLE ROW -->
          </div>
          <!-- /TABLE BODY -->
        </div>
        <!-- /TABLE -->
      </section>
    </div>
  </div>
 </div>

</div>
<!-- /CONTENT GRID -->
<app-detail-post></app-detail-post>