.form{
    border: none;
    padding: 0px;
    box-shadow: none;
}

img.quest-preview-image {
    width: 14%;
}
p.quest-preview-title{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 20px;
}
p.quest-preview-text{
    margin-top: 4px;
    color: #3e3f5e;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.3333333333em;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
a.user-status-text.small {
    line-height: 2rem;
    color: #5753E4 !important;
    cursor: pointer;
}
p.user-status-text.small.post-time {
    line-height: 2;
}
.content-grid{
    padding-bottom: 0;
}
.grid.grid-3-6-3>.grid-column{
    height: 650px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.grid.grid-3-6-3>.grid-column::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.address {
    display: flex;
    padding: 0px 20px;
}
.cbx {
    position: relative;
    margin-left: 0.5rem;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
   }
   
   .cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
   }
   
   .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
   }
   
   #cbx:checked ~ .cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
   }
   
   #cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
   }
   
   .cntr {
    position: relative;
   }
   
   @keyframes jelly {
    from {
     transform: scale(1, 1);
    }
   
    30% {
     transform: scale(1.25, 0.75);
    }
   
    40% {
     transform: scale(0.75, 1.25);
    }
   
    50% {
     transform: scale(1.15, 0.85);
    }
   
    65% {
     transform: scale(0.95, 1.05);
    }
   
    75% {
     transform: scale(1.05, 0.95);
    }
   
    to {
     transform: scale(1, 1);
    }
   }
   
   .hidden-xs-up {
    display: none!important;
   }

   @media screen and (max-width: 1440px) {
    .grid.grid-3-6-3 > .grid-column:nth-child(3) {
        display: none;
    }
}

.picture-collage-row.medium .photo-preview-wrap {
    height: 240px;
}
.picture-collage-row .photo-preview-wrap {
    height: 160px;
}
.action-request.accept:hover{
    cursor: no-drop;
}
.scroll-to-top {
    position: fixed;
    right: 100px;
    bottom: 10px;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, .5);
    line-height: 46px;
    border-radius: 50%;
  }
  
  .scroll-to-top:focus,
  .scroll-to-top:hover {
    color: #fff
  }
  
  .scroll-to-top:hover {
    background: #5a5c69;
    cursor: pointer;
    
  }
  
  .scroll-to-top i {
    font-weight: 800
  }

  p.translate-button,
  p.back-button {
    color: #5779EB;
    font-size: 13px;
    margin-top: 1rem;
    cursor: pointer;
}
.translation {
    position: relative;
    margin-top: 20px;
  }
  
  .translated-content {
    display: none;
  }
  
  .translated-content.active {
    display: block;
  }
  .emty-message {
    text-align: center;
    margin-top: 3rem;
    font-size: 17px;
      color: #3e3f5e;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .action-request-list:hover::after {
    content: attr(data-title);
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1.3rem;
    z-index: 100;
    width: 250px;
    font-size: 14px;
    transform: translate(10px, 0px);
    transition: all 0.3s ease-in-out 0s;
    color: #ADAFCD;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  p.intro-top5 {
    margin-top: 4px;
    color: #3e3f5e;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.3333333333em;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  /* avatar */
.hexagon-container {
    width: 45px;
    height: 48px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    background: white;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .hexagon {
    position: absolute;
  }
  
  .user-avatar-content {
    width: 40px;
    height: 44px;
    overflow: hidden;
    position: absolute;
  }
  
  .hexagon-image {
    width: 30px;
    height: 33px;
    position: relative;
    z-index: 3;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    left: 4%;
    top: 2%;
  }
  
  .user-avatar-border:before {
    width: 42px;
    height: 46px;
    z-index: 1;
    content: "";
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    /* border-radius: 15px; */
    left: 1px;
    top: 0px;
    background-image: linear-gradient(to right, #41efff, #615dfa);
}
  
  .hexagon.user-avatar-progress-border {
    position: absolute;
    z-index: 2;
    margin-left: 9.6%;
    margin-top: 8.3%;
    width: 35px;
    height: 39px;
    background: white;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/*  */
svg.post-settings-icon.icon-more-dots {
  width: 30px;
  height: 25px;
}
svg.post-option-icon.icon-thumbs-up {
  top: 0 !important;
  margin-right: 10px !important;
}
svg.post-option-icon.icon-share {
  width: 23px;
  height: 20px;
  margin-right: 10px !important;
}
path svg.post-option-icon.icon-share{
  width: 23px;
  height: 20px;
}
.user-status .user-status-title .bold{
  width: 131px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}