<!-- LANDING -->
<div class="landing">
  <!-- LANDING DECORATION -->
  <div class="landing-decoration"></div>
  <!-- /LANDING DECORATION -->

  <!-- LANDING INFO -->
  <div class="landing-info">
    <!-- LOGO -->
    <div class="logo">
      <!-- ICON LOGO VIKINGER -->
      <svg class="icon-logo-vikinger">
        <use xlink:href="#svg-logo-vikinger"></use>
      </svg>
      <!-- /ICON LOGO VIKINGER -->
    </div>
    <!-- /LOGO -->

    <!-- LANDING INFO PRETITLE -->
    <h2 class="landing-info-pretitle">Chào mừng đến với</h2>
    <!-- /LANDING INFO PRETITLE -->

    <!-- LANDING INFO TITLE -->
    <h1 class="landing-info-title">Destiny</h1>
    <!-- /LANDING INFO TITLE -->

    <!-- LANDING INFO TEXT -->
    <p class="landing-info-text">
      Diễn đàn là một cộng đồng trực tuyến nơi mọi người có thể tặng và nhận
      đồ từ nhau một cách miễn phí. Diễn đàn này tạo ra một không gian trao
      đổi đồ hoàn toàn phi thương mại và không có sự đòi hỏi trả lại.
    </p>
    <!-- /LANDING INFO TEXT -->
  </div>
  <!-- /LANDING INFO -->

  <!-- LANDING FORM -->
  <div class="landing-form">
    <!-- FORM BOX -->
    <form action="#" class="form">
      <h1 class="text-center">Quên mật khẩu</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title=""></div>
        <div class="progress-step" data-title=""></div>
        <div class="progress-step" data-title=""></div>
      </div>

      <!-- Steps -->
      <div class="form-step form-step-active">
        <div class="input-group">
          <label style="font-size: large" for="username">Email</label>
          <input type="email" name="email" id="email" />
        </div>

        <div class="">
          <a style="color: #f3f3f3" class="btn btn-next width-50 ml-auto">Xác nhận</a>
        </div>
        
        <div class="back-login">
          Quay lại 
          <a href="/get-started">đăng nhập</a>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <label style="font-size: large" for="phone">Mã xác nhận</label>
          <input type="text" name="phone" id="phone" />
        </div>

        <div class="btns-group">
          <a style="color: #f3f3f3" class="btn btn-prev">Trở về</a>
          <a style="color: #f3f3f3" class="btn btn-next">Xác nhận</a>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <label style="font-size: large" for="dob">Mật khẩu mới</label>
          <input type="text" name="dob" id="dob" />
        </div>
        <div class="input-group">
          <label style="font-size: large" for="ID">Xác nhận mật khẩu mới</label>
          <input type="text" name="ID" id="ID" />
        </div>
        <div class="btns-group">
          <a style="color: #f3f3f3" class="btn btn-prev">Trở về</a>
          <a style="color: #f3f3f3" class="btn btn-next">Xác nhận</a>
        </div>
      </div>
    </form>
    <!-- /FORM BOX -->
  </div>
  <!-- /LANDING FORM -->
</div>
<!-- /LANDING -->