<!-- LANDING -->
<div class="landing">
  <!-- LANDING DECORATION -->
  <div *ngIf="forgotpasswordService.checkLoading" class="overlay" id="loadingOverlay">
    <div class="loader-bars">
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
    </div>
    <div class="loading">Vui lòng đợi trong giây lát</div>
  </div>
  <div class="landing-decoration"></div>
  <!-- /LANDING DECORATION -->

  <!-- LANDING INFO -->
  <div class="landing-info">
    <!-- LOGO -->
    
    <!-- /LOGO -->

    <!-- LANDING INFO PRETITLE -->
    <h2 class="landing-info-pretitle">Chào mừng đến với</h2>
    <!-- /LANDING INFO PRETITLE -->

    <!-- LANDING INFO TITLE -->
    <h1 class="landing-info-title">Destiny</h1>
    <!-- /LANDING INFO TITLE -->

    <!-- LANDING INFO TEXT -->
    <p class="landing-info-text">
      Diễn đàn là một cộng đồng trực tuyến nơi mọi người có thể tặng và nhận đồ
      từ nhau một cách miễn phí. Diễn đàn này tạo ra một không gian trao đổi đồ
      hoàn toàn phi thương mại và không có sự đòi hỏi trả lại.
    </p>
    <!-- /LANDING INFO TEXT -->
  </div>
  <!-- /LANDING INFO -->

  <!-- LANDING FORM -->
  <div class="landing-form">
    <!-- FORM BOX -->
    <form action="#" class="form">
      <h1 class="text-center">Quên mật khẩu</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title=""></div>
        <div class="progress-step" data-title=""></div>
        <div class="progress-step" data-title=""></div>
      </div>

      <!-- Steps -->
      <form id="emailForm" [formGroup]="emailForm" action="" novalidate>
        <div class="form-step form-step-active">
          <div class="input-group">
            <label style="font-size: large" for="username">Email</label>
            <input formControlName="email" type="email" name="email" id="email" />

            <span
              *ngIf="
                (emailForm.get('email')?.invalid && emailForm.get('email')?.touched) ||
                (emailForm.get('email')?.invalid && checkForm1)
              "
            >
              <div style="color: red">Vui lòng kiểm tra email!</div>
            </span>
          </div>

          <div class="">
            <button type="submit" style="color: #f3f3f3" class="btn btn-next width-50 ml-auto"
              >Xác nhận</button
            >
          </div>
        </div>
      </form>
      <form [formGroup]="validCodeForm" action="" novalidate>
        <div class="form-step">
          <div class="input-group">
            <label style="font-size: large" for="phone">Mã xác nhận</label>
            <input formControlName="code" type="text" name="phone" id="phone" />
            <span
              *ngIf="
                (validCodeForm.get('code')?.invalid && validCodeForm.get('email')?.touched) ||
                (validCodeForm.get('code')?.invalid && checkForm2)
              "
            >
              <div style="color: red">Vui lòng nhập mã xác nhận!</div>
            </span>
          </div>

          <div class="btns-group">
            <!-- <button style="color: #f3f3f3" class="btn btn-prev">Trở về</button> -->
            <button  type="submit" style="color: #f3f3f3" class="btn btn-next">Xác nhận</button>
          </div>
        </div>
      </form>
      <form [formGroup]="changePassForm" action="" novalidate>
        <div class="form-step">
          <div class="input-group">
            <label style="font-size: large" for="dob">Mật khẩu mới</label>
            <input  formControlName="pass" type="text" name="dob" id="dob" />
          <span
              *ngIf="
                changePassForm.get('pass')?.invalid &&
                (changePassForm.get('pass')?.touched || checkForm3)
              "
            >
              <div
                *ngIf="changePassForm.get('pass')?.errors"
                style="color: red"
              >
                <div
                  *ngIf="changePassForm.get('pass')?.hasError('required')"
                  style="color: red"
                >
                  Vui lòng nhập mật khẩu
                </div>
                <div
                  *ngIf="changePassForm.get('pass')?.getError('pattern')"
                  style="color: red"
                >
                  Mật khẩu có độ dài từ 4-20 ký tự và có ít nhất một ký tự đặc
                  biệt: '!&#64;#\$%^&\*'
                </div>
              </div>
            </span>
          </div>
          <div class="input-group">
            <label style="font-size: large" for="ID"
              >Xác nhận mật khẩu mới</label
            >
            <input formControlName="reNewPass" type="text" name="ID" id="ID" />
            <span
              *ngIf="
                (changePassForm.get('reNewPass')?.invalid &&
                changePassForm.get('reNewPass')?.touched) ||
                (changePassForm.get('reNewPass')?.invalid && checkForm3)
              "
            >
              <div style="color: red">Vui lòng nhập xác nhận mật khẩu!</div>
            </span>
          </div>
          <div class="btns-group">
            <!-- <button style="color: #f3f3f3" class="btn btn-prev">Trở về</button> -->
            <button type="submit" style="color: #f3f3f3" class="btn btn-next">Xác nhận</button>
          </div>
        </div>
      </form>
      <div class="back-login">
        Quay lại
        <a href="/login">đăng nhập</a>
      </div>
    </form>
    <!-- /FORM BOX -->
  </div>
  <!-- /LANDING FORM -->
</div>
<!-- /LANDING -->
